<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>UKED</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/canada/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/canada/css/content.css"/>
    <link rel="stylesheet" type="text/css" href="/canada/css/information.css">
    <link rel="stylesheet" type="text/css" href="/canada/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/canada/css/mobile.css"/>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <script src="/static/js/layui/layui.js"></script>
    <script type="text/javascript" src="/canada/js/jquery.min.js"></script>
    <script type="text/javascript" src="/canada/js/mobile.js"></script>
</head>

<body>
<header>
    <div class="hd-line"></div>
    <div class='hd-sear'><a class="hd-logo" href="/"> <img src="/canada/images/logo.png"/> </a>
        <div class="infor-off"><a href="/logout"> <img src="/canada/images/off-icon.svg"/> <span>{:lang('Exit')}</span>
        </a></div>
    </div>
</header>

<section class="information-wrap">
    <h2>{:lang('PERSONAL DATA DISPLAY')}<a class="edit_ku"><i class="icon iconfont icon-uk-apply"></i>{:lang('Edit')}</a></h2>
    <div class="information">
        <div class="header">
            <div class="img-box"><img src="/canada/images/pic-hd.jpg"/></div>
            <div class="info">
                <h3><a href="/info" style="color: #f7683b;">{$info.name}</a></h3>
                <p>
                    <i class="icon iconfont icon-UK-address"></i>
                    <b>{$edu.school}</b>
                </p>
            </div>
            <ul class="tab">
                {notempty name="edulist"}
                {foreach name="edulist" item="v"}
                <li class="menu-down">
                    <i class="icon iconfont icon-degree"></i>{$v.academic_level}
                    <ol class="menu">
                        <li><a class="{$v.id==$edu.id? 'infor-active':''}" href="/info/edu_id/{$v.id}">{:lang('Information')}</a>
                        </li>
                        <li><a href="/transcript/edu_id/{$v.id}">{:lang('Transcript')}</a></li>
                    </ol>
                </li>
                {/foreach}
                {else /}
                <li class="menu-down"><i class="icon iconfont icon-UK-major"></i>{:lang('major')}
                    <ol class="menu">
                        <li><a class="infor-active" href="/info">{:lang('Information')}</a></li>
                    </ol>
                </li>
                {/notempty}
                <li><a href="/transfer">{:lang('TRANSFER')}</a></li>
            </ul>
        </div>
        <div class="table">
            <div class="table-items">  <h3>{:lang('Add the scores')}</h3>
               <table>
                    <tbody>
                    <tr style="width: 100%;">
                    	<th>Course Code</th>
                        <th>Course Title</th>
                        <th>Credit</th>
                        <th>Grade</th>
                        <th>Points</th>
                    	
                    </tr>
                    {foreach name="scorelist" item="fallitem" key="k"}
                    <tr>
                        <td>{$fallitem.class}</td>
                        <td>{$fallitem.description}</td>
                        <td>{$fallitem.units}</td>
                        <td>{$fallitem.grade}</td>
                        <td>{$fallitem.points ?? ''}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="info-edit layui-form">
            	
            	<form action="" method="post">
            			
                <div class="info-edit-item">
                    <div>
                    	
                        <label><i class="icon iconfont icon-UK-Personal"></i><b>{:lang('Year')}:</b></label>
                        <input type="text" name="years" value="{$score.years}" />
                    </div>
                    <div>
                        <label><b>{:lang('Course Code')}:</b></label>
                        <input type="text" name="fallterm" value="{$score.fallterm}">
                    </div>
                </div>

                <div class="add">
	                <div class="info-edit-item">
	                    <div>
	                        <label><b>{:lang('Course Title')}:</b></label>
	                        <input type="text" name="fallterm_content[][class]" value="" required lay-verify="required" placeholder="Class" > 
	                    </div>
	                    <div>
	                        <label><b>{:lang('Description')}:</b></label>
	                        <input type="text" name="fallterm_content[][description]"  value="" required lay-verify="required" placeholder="Description" > 
	                    </div>
	                </div>
	                <div class="info-edit-item">
	                    <div>
	                        <label><b>{:lang('Credit')}:</b></label>
	                        <input type="text" name="fallterm_content[][units]"  value="" required lay-verify="required" placeholder="Units(3.00)" style="width:100px"> 
	                    </div>
	                    <div>
	                        <label><b>{:lang('Grade')}:</b></label>
	                        <input type="text" name="fallterm_content[][grade]"  value="" required lay-verify="required" placeholder="Grade(A)"    style="width:100px"> 
	                        
	                    </div>
	                </div>
	                <div class="info-edit-item">
	                	<div>
	                        <label><b>{:lang('Points')}:</b></label>
	                        <input type="text" name="fallterm_content[][points]"  value="" required lay-verify="required" placeholder="Points"   style="width:100px">
	                    </div>
	                    <button type="button" class="delete" style="width: 150px;height: 50px;background-color: #00B83F;border-radius: 5px;font-size: 0.2rem;color: #FFFFFF;">Delete</button>
	                </div>
                </div>
                
                <div class="info-edit-item remark">
                    <div>
                    	<a id="add_one">{:lang('Add grade')}</a>
                        <input type="submit" style="width: 150px;height: 50px;background-color: #f7683b;color: #fff;font-size: 0.2rem;border-radius: 5px;" value="{:lang('Save')}"/>
                    </div>
                </div>
                
                <!--<input type="submit" class="submit" value=""/>-->
            	</form>
            </div>
        </div>
    </div>
</section>

<div class="infor-ft"><a href="#">Home</a>&nbsp;|&nbsp; <span>Copyright © Canada education data</span></div>
<script>
    $('.menu-down').click(function (e) {
        e.stopPropagation();
        $(this).children('.menu').toggle();
        $(this).siblings().children('.menu').hide()
    });
    $(document).click(function () {
        $('.menu').hide()
    });
    layui.use(['form','laydate'], function(){
        var form = layui.form;
    });
    
    
    $("#add_one").click(function(){
    	var length=$('.add').length
    	 $('.add').eq(length-1).after($(".add").eq(length-1).clone());
    });
	$(document).on('click',".add .delete",function(){
		$(this).parents('.add').remove();
	})

</script>
</body>

</html>