<div class="main-with header-img"><a href="/page/317.html"><img src="/canada/images/CERTIFICATE.jpg"/></a></div>
<div class="inform">
    <div class="main-with">
        <span class="infor-deail">
            <?php echo  $C['home_tip']; ?>
        </span>
        <div class="inform-RT">
            <p class="share-icon">
                <a href="#"><img src="/canada/images/icon-1add.svg"/></a>
                <a href="#"><img src="/canada/images/icon-1wb.svg"/></a>
                <a href="#"><img src="/canada/images/icon-1kj.svg"/></a>
                <a href="#"><img src="/canada/images/icon-1wx.svg"/></a>
            </p>
            <div class="PRINT">
                <a href="javascripts:;" onclick="printpage()"><img src="/canada/images/icon-1dy.svg"/>{:lang('PRINT123')}</a>
                <a href="javascripts:;" class="changeFontSize" data-type="big">A+</a>
                <a href="javascripts:;" class="changeFontSize" data-type="small">A-</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-with">
        <div class="con-main">
            <div class="con-left">
            	<p class="hello-hai"><img src="/canada/images/hello-pic.png"/></p>
            </div>
            <div class="con-right">
            	<h3 class="in-newstit">
	                <img src="/canada/images/news.svg"/> <span>Educational information</span>
	            </h3>
                <ul class="con-notice">
                    {volist name="topList" id="data"}
                    <li>
                        <a href="/news?id={$data.id}">
                            <h3>{$data.title}</h3>
                            <span>{$data.introduction}</span>
                        </a>
                    </li>
                    {/volist}
                </ul>
                <a class="con-namore" href="/lists">
                    MORE
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main-with in-cabox">
  	<h3 class="cen-tit"> 
  		<i class="fa fa-map"></i><span>Settle in Canada</span> 
  		<p>
  			<a href="/page/276.html">Settle outside Canada</a> | <a href="/page/273.html">Study</a> | <a href="/page/274.html">Work</a>
  		</p>
  	</h3>
  	<div class="in-calt clearfix">
  		<h4 ><i class="fa fa-book"></i><span>Study</span></h4>
  		<ul>
  			<li>
  				<a href="/page/321.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span> List of Canadian Schools: Universities  </span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/322.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span> List of Canadian Schools: Colleges </span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/88.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Live in Canada</span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/82.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Get financial assistance</span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/52.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Apply to study in Canada</span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/252.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Find an educational institution</span>
  				</a>
  			</li>
  		</ul>
  	</div>
  	<div class="in-calt clearfix">
  		<h4 ><i class="fa fa-desktop"></i><span>Work</span></h4>
  		<ul>
  			<li>
  				<a href="/page/79.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Choose Canada </span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/255.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Find an occupational profile</span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/95.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Immigrate to Canada</span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/102.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Live in Canada</span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/70.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Learn about qualifications recognition</span>
  				</a>
  			</li>
  			<li>
  				<a href="/page/80.html">
  					<i class="fa fa-arrow-circle-o-right"></i>
  					<span>Find the name of your intended occupation </span>
  				</a>
  			</li>
  		</ul>
  	</div>
 </div>
<div class="center-box">
    <div class="cen-lf">
        <h3 class="cen-tit"><i class="fa fa-institution"></i><span>An overview of education in Canada</span></h3>
        <ul class="cenlt-box">
            <li><a href="/page/303.html"><i class="fa fa-delicious fa-fw"></i>Ministries/departments responsible for education i</a></li>
            <li><a href="/page/308.html"><i class="fa fa-delicious fa-fw"></i>Elementary and secondary education systems</a></li>
            <li><a href="/page/57.html"> <i class="fa fa-delicious fa-fw"></i>Postsecondary education systems</a></li>
            <li><a href="/page/309.html"><i class="fa fa-delicious fa-fw"></i>Quality assurance in postsecondary education</a></li>
            <li><a href="/page/305.html"><i class="fa fa-delicious fa-fw"></i>Credit transfer and articulation</a></li>
            <li><a href="/page/296.html"><i class="fa fa-delicious fa-fw"></i>Qualifications frameworks</a></li>
            <li><a href="/page/295.html"><i class="fa fa-delicious fa-fw"></i>Academic credentials</a></li>
            <li><a href="/page/285.html"><i class="fa fa-delicious fa-fw"></i>EduCanada</a></li>
            
        </ul>
    </div>
    <div class="cen-rt">
        <h3 class="cen-tit"><i class="fa fa-support"></i><span>Education in Canada</span>
        </h3>
        <p class="cen-titdel">
			<a href="/page/161.html">Alberta</a>
			<a href="/page/178.html">British Columbia</a>
			<a href="/page/193.html">Manitoba</a>
        </p>
        <div class="con-select">
            <div class="con-selbox" style="margin-top: 5px;">
                <i class="fa fa-arrow-circle-o-right"></i> Provinces and Territories of Canada
            </div>
            <ul class="con-seldel">
                <li value="Alberta"><a href="/page/161.html">Alberta</a></li>
                <li value="British Columbia"><a href="/page/178.html">British Columbia</a></li>
                <li value="Manitoba"><a href="/page/193.html">Manitoba</a></li>
                <li value="New Brunswick"><a href="/page/204.html">New Brunswick </a></li>
                <li value="Newfoundland and Labrador "><a href="/page/211.html">Newfoundland and Labrador </a></li>
                <li value="Northwest Territories"><a href="/page/218.html">Northwest Territories </a></li>
                <li value="Nova Scotia"><a href="/page/225.html">Nova Scotia </a></li>
                <li value="Nunavut"><a href="/page/232.html">Nunavut </a></li>
                <li value="Ontario"><a href="/page/244.html">Ontario </a></li>
                <li value="Prince Edward Island"><a href="/page/257.html">Prince Edward Island </a></li>
                <li value="Quebec"><a href="/page/264.html">Quebec </a></li>
                <li value="Saskatchewan"><a href="/page/278.html">Saskatchewan </a></li>
                <li value="Yukon"><a href="/page/288.html">Yukon</a></li>
            </ul>
        </div>
    </div>
</div>
 
{include file="public/middle" /}