<!DOCTYPE html>

<html>



	<head>

		<meta charset="utf-8" />

		<title>{$C['site_title']}{$title?='--'.$title}</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="/canada/css/common.css" />

		<link rel="stylesheet" type="text/css" href="/canada/css/content.css" />

		<link rel="stylesheet" type="text/css" href="/canada/css/education.css" />

		<link rel="stylesheet" type="text/css" href="/canada/css/mobile.css" />

		<link rel="stylesheet" href="/static/css/flexslider.min.css">

		<link rel="stylesheet" href="/static/css/font-awesome.min.css">

		<meta name="description" content="{$C['seo_keyword']}">

		<meta name="keywords" content="{$C['seo_description']}">

		<script src="/canada/js/jquery.min.js"></script>

		<script src="/static/js/jquery.flexslider-min.js"></script>

		<script type="text/javascript" src="/canada/js/mobile.js"></script>

		<script type="text/javascript" src="/canada/js/common.js"></script>

		<!-- share css & js -->

		<link rel="stylesheet" href="/static/share/css/share.min.css">

		<link rel="stylesheet" href="/static/share/css/share.more.css">

		<script src="/static/share/js/share.min.js"></script>

	</head>



	<body>

		<header class="hd-content">

			<div class="hd-line"></div>

			<div class='hd-box'>

				<div class="hd-other">

					<div class="social-share" data-initialized="true">

						<a href="#" class="social-share-icon icon-google"></a>

						<a href="#" class="social-share-icon icon-twitter"></a>

						<a href="#" class="social-share-icon icon-facebook"></a>

						<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v3.3&appId=2228886647427463&autoLogAppEvents=1"></script>

						<!--<fb:login-button 

  scope="public_profile,email"

  onlogin="checkLoginState();">

</fb:login-button>-->



						<a href="#" class="social-share-icon icon-linkedin"></a>

					</div>

					<div class="hd-about">

						<a href="#">查询验证</a>

					</div>

					<div class="hd-lang">英语</div>

					&nbsp;&nbsp;

					<div class="hd-lang">法语</div>

				</div>

				<a class="hd-logo" href="#">

					<img src="/canada/images/logo.png" />

					<span>加拿大教育数据交互中心</span>

				</a>

			</div>

		</header>

		<div class="hd-nav">

			<div class="nav-bg">

				<!--<nav class="hd-navbox">

	            	                <a href="">INDIVIDUAL</a> 

	            	                <a href="">ASSESSOR</a> 

	            	                <a href="">EDUCATION</a> 

	            	                <a href="">MOBILITY</a> 

	            	                <a href="">Quick links</a> 

	            	        </nav>-->

				<nav class="hd-navbox">



					<a href="javascript:;" class="">

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;">个人</font>

						</font>

					</a>



					<a href="javascript:;" class="">

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;">评估师</font>

						</font>

					</a>



					<a href="javascript:;" class="">

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;">教育</font>

						</font>

					</a>



					<a href="javascript:;">

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;">移动</font>

						</font>

					</a>



					<a href="javascript:;">

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;">快速链接</font>

						</font>

					</a>



				</nav>

			</div>



			<div class="nav-downbox">

				<div class="down-list" style="display: none;">

					<div class="main-title">

						<h1><a href="/page/277.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">个人门户网站 </font></font></a> </h1>

					</div>

					<div class="dow-col">

						<h1 class="dow-coltit"><a href="/page/275.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">定居加拿大</font></font></a></h1>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/271.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">研究</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/77.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">选择加拿大</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/252.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">找一个教育机构</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/52.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">申请加拿大留学</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/82.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">获得经济援助</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/84.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">移民加拿大</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/88.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">住在加拿大</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/90.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">在加拿大工作</font>

										</font>

									</a>

								</li>



							</ul>

						</div>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/272.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">工作</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/79.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">选择加拿大</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/80.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">找到您的职业名称 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/70.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">了解资格认可</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/255.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">查找职业档案</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/95.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">移民加拿大</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/102.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">住在加拿大</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/103.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">在加拿大学习</font>

										</font>

									</a>

								</li>



							</ul>

						</div>



					</div>

					<div class="dow-col">

						<h1 class="dow-coltit"><a href="/page/276.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">在加拿大境外定居</font></font></a></h1>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/273.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">研究</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/105.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">国际学习</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/45.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">了解对您的学历证书的认可</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/111.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">获得经济援助</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/113.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">从加拿大移民</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/115.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">寻找离岸学校和国际教育</font>

										</font>

									</a>

								</li>



							</ul>

						</div>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/274.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">工作</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/119.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">国际化工作</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/122.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">在外面找到您想要的职业名称 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/132.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">了解资格认定</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/135.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">从加拿大移民</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/138.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">寻找国际劳务流动资源</font>

										</font>

									</a>

								</li>



							</ul>

						</div>



					</div>

				</div>

				<div class="down-list" style="display: none;">

					<div class="main-title">

						<h1><a href="/page/239.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ADDESSOR门户网站</font></font></a> </h1>

					</div>

					<div class="dow-col">

						<h1 class="dow-coltit"><a href="/page/240.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">评估学术证书</font></font></a></h1>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/242.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">在加拿大境外发行</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/128.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">收到文件进行评估</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/140.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">确认教育机构的状态 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/149.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">验证文件</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/155.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">比较学术证书与发现的证书 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/168.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">确定评估结果</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/171.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">将结果传达给申请人</font>

										</font>

									</a>

								</li>



							</ul>

						</div>



					</div>

					<div class="dow-col">

						<h1 class="dow-coltit"><a href="/page/241.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">访问评估资源</font></font></a></h1>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/190.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">使用工具</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/124.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">质量保证框架</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/145.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">替代资格评估程序 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/190.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">可比性评估结果目录</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/189.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">评估列表服务</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/185.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">能力档案</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/175.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">术语指南</font>

										</font>

									</a>

								</li>



							</ul>

						</div>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/243.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">培养你的技能</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/201.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">参加评估101</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/191.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">寻求就业机会</font>

										</font>

									</a>

								</li>



							</ul>

						</div>



					</div>

				</div>

				<div class="down-list" style="display: none;">

					<div class="main-title">

						<h1><a href="/page/301.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">加拿大的省和地区</font></font></a> </h1>

					</div>

					<div class="dow-col">

						<h1 class="dow-coltit"><a href="/page/301.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">加拿大的教育</font></font></a></h1>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/299.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">加拿大各省和地区</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/161.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">阿尔伯塔</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/178.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">不列颠哥伦比亚省</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/193.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">马尼托巴</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/204.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">新不伦瑞克省 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/211.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">纽芬兰和拉布拉多 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/218.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">西北地区 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/225.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">新斯科舍省 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/232.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">努纳武特 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/244.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">安大略 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/257.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">爱德华王子岛 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/264.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">魁北克 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/278.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">萨斯喀彻温省 </font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/288.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">育空</font>

										</font>

									</a>

								</li>



							</ul>

						</div>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/300.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">加拿大教育概述</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/303.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">负责教育的部委/部门</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/308.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">中小学教育系统</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/57.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">高等教育系统</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/309.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">高等教育质量保证</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/305.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">信用转移和清晰度</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/296.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">资格框架</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/295.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">学历证书</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/285.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">EduCanada</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/321.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">加拿大学校名单：大学</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/322.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">加拿大学校名单：大学</font>

										</font>

									</a>

								</li>



							</ul>

						</div>



					</div>

				</div>

				<div class="down-list" style="display: none;">

					<div class="main-title">

						<h1><a href="/page/44"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">移动门户网站</font></font></a> </h1>

					</div>

					<div class="dow-col">

						<h1 class="dow-coltit"><a href="/page/44"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">往返加拿大的入境和出境流动</font></font></a></h1>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href="/page/44"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">概述</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/251.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">证书评估服务联盟</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/65.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">里斯本认可公约</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/48.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">其他国际协议</font>

										</font>

									</a>

								</li>



							</ul>

						</div>



					</div>

				</div>

				<div class="down-list" style="display: none;">

					<div class="main-title">

						<h1><a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">快速链接</font></font></a> </h1>

					</div>

					<div class="dow-col">

						<h1 class="dow-coltit"><a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">快速链接列表</font></font></a></h1>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">凭证认可：</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/317.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">证书简要分析</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/ku">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">查询验证</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/84.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">移民加拿大</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/70.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">一般用途</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/45.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">加拿大以外的进一步研</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/132.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">在加拿大境外就业</font>

										</font>

									</a>

								</li>



							</ul>

						</div>

						<div class="dow-com">

							<h1 class="dow-coltit"><a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">我们的目录</font></font></a></h1>

							<ul>

								<li>

									<a href="/page/252.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">加拿大教育机构名录</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/255.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">职业概况目录</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/115.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">离岸学校和国际教育目录</font>

										</font>

									</a>

								</li>

								<li>

									<a href="/page/138.html">

										<font style="vertical-align: inherit;">

											<font style="vertical-align: inherit;">国际劳工流动资源目录</font>

										</font>

									</a>

								</li>



							</ul>

						</div>



					</div>

				</div>



			</div>

		</div>

		<div class="main-with header-img">

			<a href="/page/317.html"><img src="/canada/images/CERTIFICATE.jpg" /></a>

		</div>

		<div class="inform">

			<div class="main-with">

				<span class="infor-deail">

            <?php echo  $C['home_tip']; ?>

        </span>

				<div class="inform-RT">

					<p class="share-icon">

						<a href="#"><img src="/canada/images/icon-1add.svg" /></a>

						<a href="#"><img src="/canada/images/icon-1wb.svg" /></a>

						<a href="#"><img src="/canada/images/icon-1kj.svg" /></a>

						<a href="#"><img src="/canada/images/icon-1wx.svg" /></a>

					</p>

					<div class="PRINT">

						<a href="javascripts:;" onclick="printpage()"><img src="/canada/images/icon-1dy.svg" />PRINT</a>

						<a href="javascripts:;" class="changeFontSize" data-type="big">A+</a>

						<a href="javascripts:;" class="changeFontSize" data-type="small">A-</a>

					</div>

				</div>

			</div>

		</div>

		<div class="container">

			<div class="main-with">

				<!--<div class="con-title">

            <p><img src="/canada/images/content-icon.svg"/><span>Canadian Education Data Information</span>

            </p>

        </div>-->

				<div class="con-main">

					<div class="con-left">

						<p class="hello-hai"><img src="/canada/images/hello-pic.png" /></p>

					</div>

					<div class="con-right">

						<h3 class="in-newstit">

	                <img src="/canada/images/news.svg"/> <span>Educational information</span>

	            </h3>

						<ul class="con-notice">

							{volist name="topList" id="data"}

							<li>

								<a href="/news?id={$data.id}">

									<h3>{$data.title}</h3>

									<span>{$data.introduction}</span>

								</a>

							</li>

							{/volist}

						</ul>

						<a class="con-namore" href="/lists">

							MORE

						</a>

					</div>

				</div>

			</div>

		</div>

		<div class="main-with in-cabox">

			<h3 class="cen-tit"> 

  		<i class="fa fa-map"></i><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">定居加拿大</font></font></span> 

  		<p>

  			<a href="/page/276.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">在加拿大境外定居</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> | </font></font><a href="/page/273.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">研究</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> | </font></font><a href="/page/274.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">工作</font></font></a>

  		</p>

  	</h3>

			<div class="in-calt clearfix">

				<h4><i class="fa fa-book"></i><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">研究</font></font></span></h4>

				<ul>

					<li>

						<a href="/page/321.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 加拿大学校名单：大学  </font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/322.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 加拿大学校名单：大学 </font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/88.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">住在加拿大</font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/82.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">获得经济援助</font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/52.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">申请加拿大留学</font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/252.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">找一个教育机构</font></font></span>

						</a>

					</li>

				</ul>

			</div>

			<div class="in-calt clearfix">

				<h4><i class="fa fa-desktop"></i><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">工作</font></font></span></h4>

				<ul>

					<li>

						<a href="/page/79.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选择加拿大 </font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/255.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查找职业档案</font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/95.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">移民加拿大</font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/102.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">住在加拿大</font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/70.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">了解资格认可</font></font></span>

						</a>

					</li>

					<li>

						<a href="/page/80.html">

							<i class="fa fa-arrow-circle-o-right"></i>

							<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">找到您的职业名称 </font></font></span>

						</a>

					</li>

				</ul>

			</div>

		</div>

		<div class="center-box">

			<div class="cen-lf">

				<h3 class="cen-tit"><i class="fa fa-institution"></i><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">加拿大教育概述</font></font></span></h3>

				<ul class="cenlt-box">

					<li>

						<a href="/page/303.html"><i class="fa fa-delicious fa-fw"></i>

							<font style="vertical-align: inherit;">

								<font style="vertical-align: inherit;">负责教育的部委/部门</font>

							</font>

						</a>

					</li>

					<li>

						<a href="/page/308.html"><i class="fa fa-delicious fa-fw"></i>

							<font style="vertical-align: inherit;">

								<font style="vertical-align: inherit;">中小学教育系统</font>

							</font>

						</a>

					</li>

					<li>

						<a href="/page/57.html"> <i class="fa fa-delicious fa-fw"></i>

							<font style="vertical-align: inherit;">

								<font style="vertical-align: inherit;">高等教育系统</font>

							</font>

						</a>

					</li>

					<li>

						<a href="/page/309.html"><i class="fa fa-delicious fa-fw"></i>

							<font style="vertical-align: inherit;">

								<font style="vertical-align: inherit;">高等教育质量保证</font>

							</font>

						</a>

					</li>

					<li>

						<a href="/page/305.html"><i class="fa fa-delicious fa-fw"></i>

							<font style="vertical-align: inherit;">

								<font style="vertical-align: inherit;">信用转移和清晰度</font>

							</font>

						</a>

					</li>

					<li>

						<a href="/page/296.html"><i class="fa fa-delicious fa-fw"></i>

							<font style="vertical-align: inherit;">

								<font style="vertical-align: inherit;">资格框架</font>

							</font>

						</a>

					</li>

					<li>

						<a href="/page/295.html"><i class="fa fa-delicious fa-fw"></i>

							<font style="vertical-align: inherit;">

								<font style="vertical-align: inherit;">学历证书</font>

							</font>

						</a>

					</li>

					<li>

						<a href="/page/285.html"><i class="fa fa-delicious fa-fw"></i>

							<font style="vertical-align: inherit;">

								<font style="vertical-align: inherit;">EduCanada</font>

							</font>

						</a>

					</li>



				</ul>

			</div>

			<div class="cen-rt">

				<h3 class="cen-tit"><i class="fa fa-support"></i><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">加拿大的教育</font></font></span>

        </h3>

				<p class="cen-titdel">

					<a href="/page/161.html">

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;">艾伯塔</font>

						</font>

					</a>

					<a href="/page/178.html">

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;">不列颠哥伦比亚</font>

						</font>

					</a>

					<a href="/page/193.html">

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;">省曼尼托巴省</font>

						</font>

					</a>

				</p>

				<div class="con-select">

					<div class="con-selbox" style="margin-top: 5px;">

						<i class="fa fa-arrow-circle-o-right"></i>

						<font style="vertical-align: inherit;">

							<font style="vertical-align: inherit;"> 加拿大各省和地区

							</font>

						</font>

					</div>

					<ul class="con-seldel">

						<li value="Alberta">

							<a href="/page/161.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">阿尔伯塔</font>

								</font>

							</a>

						</li>

						<li value="British Columbia">

							<a href="/page/178.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">不列颠哥伦比亚省</font>

								</font>

							</a>

						</li>

						<li value="Manitoba">

							<a href="/page/193.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">马尼托巴</font>

								</font>

							</a>

						</li>

						<li value="New Brunswick">

							<a href="/page/204.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">新不伦瑞克省 </font>

								</font>

							</a>

						</li>

						<li value="Newfoundland and Labrador ">

							<a href="/page/211.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">纽芬兰和拉布拉多 </font>

								</font>

							</a>

						</li>

						<li value="Northwest Territories">

							<a href="/page/218.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">西北地区 </font>

								</font>

							</a>

						</li>

						<li value="Nova Scotia">

							<a href="/page/225.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">新斯科舍省 </font>

								</font>

							</a>

						</li>

						<li value="Nunavut">

							<a href="/page/232.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">努纳武特 </font>

								</font>

							</a>

						</li>

						<li value="Ontario">

							<a href="/page/244.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">安大略 </font>

								</font>

							</a>

						</li>

						<li value="Prince Edward Island">

							<a href="/page/257.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">爱德华王子岛 </font>

								</font>

							</a>

						</li>

						<li value="Quebec">

							<a href="/page/264.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">魁北克 </font>

								</font>

							</a>

						</li>

						<li value="Saskatchewan">

							<a href="/page/278.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">萨斯喀彻温省 </font>

								</font>

							</a>

						</li>

						<li value="Yukon">

							<a href="/page/288.html">

								<font style="vertical-align: inherit;">

									<font style="vertical-align: inherit;">育空</font>

								</font>

							</a>

						</li>

					</ul>

				</div>

			</div>

		</div>

		<div class="edu-gd">

			<div class="edu-gdmian">

				<div class=" cen-tit">

					<h3><i class="fa fa-compass"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">国际教育指南</font></font></span></h3>

				</div>

				<ul>

					<li class="edu-gd-list">

						<a href="/news?id=13">

							<img src="/canada/images/country2.png">

							<div class="edu-gdel">

								<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">英国</font></font></h3>

								<p>

									<font style="vertical-align: inherit;">

										<font style="vertical-align: inherit;">教育和文凭英国</font>

									</font>

								</p>

							</div>

						</a>

					</li>

					<li class="edu-gd-list">

						<a href="/news?id=14">

							<img src="/canada/images/country4.png">

							<div class="edu-gdel">

								<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">美国</font></font></h3>

								<p>

									<font style="vertical-align: inherit;">

										<font style="vertical-align: inherit;">教育和文凭美国</font>

									</font>

								</p>

							</div>

						</a>

					</li>

					<li class="edu-gd-list">

						<a href="/news?id=15">

							<img src="/canada/images/country1.png">

							<div class="edu-gdel">

								<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">中国</font></font></h3>

								<p>

									<font style="vertical-align: inherit;">

										<font style="vertical-align: inherit;">教育和文凭中国</font>

									</font>

								</p>

							</div>

						</a>

					</li>

					<li class="edu-gd-list">

						<a href="/news?id=16">

							<img src="/canada/images/australia.png">

							<div class="edu-gdel">

								<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">澳大利亚</font></font></h3>

								<p>

									<font style="vertical-align: inherit;">

										<font style="vertical-align: inherit;">教育和文凭澳大利亚</font>

									</font>

								</p>

							</div>

						</a>

					</li>

					<li class="edu-gd-list">

						<a href="/news?id=17">

							<img src="/canada/images/canada.png">

							<div class="edu-gdel">

								<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">加拿大</font></font></h3>

								<p>

									<font style="vertical-align: inherit;">

										<font style="vertical-align: inherit;">加拿大的教育和文凭</font>

									</font>

								</p>

							</div>

						</a>

					</li>

					<li class="edu-gd-list">

						<a href="/news?id=18">

							<img src="/canada/images/japan.png">

							<div class="edu-gdel">

								<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">日本</font></font></h3>

								<p>

									<font style="vertical-align: inherit;">

										<font style="vertical-align: inherit;">教育和文凭日本</font>

									</font>

								</p>

							</div>

						</a>

					</li>

					<li class="edu-gd-list">

						<a href="/news?id=19">

							<img src="/canada/images/country3.png">

							<div class="edu-gdel">

								<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">韩国</font></font></h3>

								<p>

									<font style="vertical-align: inherit;">

										<font style="vertical-align: inherit;">教育和文凭韩国</font>

									</font>

								</p>

							</div>

						</a>

					</li>

					<li class="edu-gd-list">

						<a href="/news?id=20">

							<img src="/canada/images/france.png">

							<div class="edu-gdel">

								<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">法国</font></font></h3>

								<p>

									<font style="vertical-align: inherit;">

										<font style="vertical-align: inherit;">教育和文凭法国</font>

									</font>

								</p>

							</div>

						</a>

					</li>

				</ul>

			</div>

		</div>

		<div class="oth-adv">

			<div class="main-with cen-tit">

				<h3><i class="fa fa-mortar-board"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">毕业典礼</font></font></span></h3>

			</div>

			<ul>

				<li>

					<a href="http://www.convocation.utoronto.ca/" target="_self">

						<img src="/canada/images/adv-pic1.jpg">

						<div class="oth-mark">

							<img src="/canada/images/2019-icon.png">

							<h3><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">毕业季</font></font></p> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">多伦多大学</font></font></span> </h3>

						</div>

					</a>

				</li>

				<li>

					<a href="https://convocation.students.yorku.ca/" target="_self">

						<img src="/canada/images/adv-pic2.jpg">

						<div class="oth-mark">

							<img src="/canada/images/2019-icon.png">

							<h3><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">毕业季</font></font></p> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">约克大学</font></font></span> </h3>

						</div>

					</a>

				</li>

				<li>

					<a href="http://www.sfu.ca/convocation.html" target="_self">

						<img src="/canada/images/adv-pic3.jpg">

						<div class="oth-mark">

							<img src="/canada/images/2019-icon.png">

							<h3><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">毕业季</font></font></p> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">西蒙弗雷泽大学</font></font></span> </h3>

						</div>

					</a>

				</li>

				<li>

					<a href="https://www.mcgill.ca/graduation/convocation" target="_self">

						<img src="/canada/images/adv-pic4.jpg">

						<div class="oth-mark">

							<img src="/canada/images/2019-icon.png">

							<h3><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">毕业季 </font></font></p> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">麦吉尔大学</font></font></span> </h3>

						</div>

					</a>

				</li>

			</ul>

		</div>

		<footer>

			<div class="ftnav">

				<ul>

					<li>

						<a href="">Individu</a>

					</li>

					<li>

						<a href="">Évaluateur</a>

					</li>

					<li>

						<a href="">Éducation</a>

					</li>

					<li>

						<a href="">MOBILITY</a>

					</li>

					<li>

						<a href="">Liens rapides</a>

					</li>

				</ul>

			</div>

			<div class="ft-mian">

				<div class="ft-adress">

					<a href="#">

						<img src="/canada/images/logo.png">

					</a>

					<p>

						地址：安大略省多伦多金士顿路2613号 </p>

					<p>

						电话：416-526-2352 </p>

				</div>

				<div class="ft-link">

					<ul>

						<li>

							<a href="https://www.parchment.com/">Parchment</a>

						</li>

						<li>

							<a href="https://www.myequals.net/#/user/login">My eQuals</a>

						</li>

						<li>

							<a href="http://www.aic.lv/portal/en/sakums">Academic Information</a>

						</li>

						<li>

							<a href="https://www.nuffic.nl/">NUFFIC</a>

						</li>

						<li>

							<a href="http://www.nic.gov.ru/">Национальный информа</a>

						</li>

					</ul>

					<ul>

						<li>

							<a href="http://www.hellocareer.cn/">Hellocareer</a>

						</li>

						<li>

							<a href="http://www.cscse.edu.cn">Cscse</a>

						</li>

						<li>

							<a href="https://studentclearinghouse.org/">Clearinghouse</a>

						</li>

						<li>

							<a href="https://www.duo.nl">Dienst Uitvoering On</a>

						</li>

						<li>

							<a href="https://www.verifdiploma.com/">Verifdiploma</a>

						</li>

					</ul>

					<ul>

						<li>

							<a href="https://hedd.ac.uk/">Hedd</a>

						</li>

						<li>

							<a href="https://www.ece.org">Ece</a>

						</li>

						<li>

							<a href="https://www.digitary.net/">Digitary</a>

						</li>

					</ul>



				</div>

			</div>

			<div class="ft-copy">

				<p>只要您（1）不修改或改编材料，就可以复制和分发本网站上提供的研究出版物，介绍，新闻通讯，咨询声明，情况说明书，小册子和报告（不包括购买的出版物和我们的数据库）。 （2）不得将材料用于商业用途，（3）向AuraData提供适当的归属，以及（4）通知收件人AuraData对材料使用的限制。请注意，这只是您的权利摘要。有关您的实际许可权利的更多详细信息，请参阅我们的

					<a href="/page/318.html" target="_blank"> 使用条款</a> ,

					<a href="/page/319.html" target="_blank">隐私政策 </a>, et

					<a href="/page/320.html" target="_blank">Cookie政策</a>

				</p>

				<p>© COPYRIGHT WSE</p>

			</div>

		</footer>

		<script>

			$(function() {

				$(".con-selbox").click(function(e) {

					$(".con-select").toggleClass('con-open');

					e.stopPropagation();

				});

				$(".con-seldel li").click(function(e) {

					var _this = $(this);

					$(".con-select> .con-selbox").text(_this.attr('value'));

					_this.addClass("con-Selected").siblings().removeClass("con-Selected");

					$(".con-select").removeClass("con-open");

					e.stopPropagation();

				});

				$(document).on('click', function() {

					$(".con-select").removeClass("con-open");

				})

			});

			$(".nav-downbox").find(".down-list").hide();

			$(".nav-bg a ").click("mouseover", function() {

				document.body.scrollTop = document.documentElement.scrollTop = 0;

				var index = $(this).index();

				if($(this).hasClass("nav-active")) {

					$(this).parent().parent().next().find(".down-list").slideUp();

					$(this).removeClass("nav-active");

				} else {

					$(this).parent().parent().next().find(".down-list").hide().eq(index).slideDown();

					$(this).addClass("nav-active").siblings().removeClass("nav-active");

				}

			});

			$('.btn2').change(function() {

				//    alert($('.btn2').val());

				var btn2 = "lang=" + $('.btn2').val();

				$.get("{:url('Index/lang')}", btn2, function() {

					location.reload();

				})

			})



			$('#menuMobile').click(function() {

				document.body.scrollTop = document.documentElement.scrollTop = 0;

				if($('.hd-nav').is(':hidden')) {

					$('.hd-content').css('position', 'fixed');

					$('.hd-box').css('height', '.8rem');

				} else {

					$('.hd-content').css('position', 'relative');

					$('.hd-box').css('height', '1.35rem');

				}

				$('.hd-nav').toggle('fast');

				$('.social-share').toggle();

				$('.hd-about').toggle();

			});



			var browserWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

			if(browserWidth < 751) {

				$('.hd-navbox a:first-child').addClass('nav-active');

				$('.down-list:first-child').show();

			}

		</script>

		<script>

			//当前版本是：v3.3

			window.fbAsyncInit = function() {

				FB.init({

					appId: '818011615237260',

					cookie: true,

					xfbml: true,

					version: 'v3.3'

				});



				FB.AppEvents.logPageView();



			};

			(function(d, s, id) {

				var js, fjs = d.getElementsByTagName(s)[0];

				if(d.getElementById(id)) {

					return;

				}

				js = d.createElement(s);

				js.id = id;

				js.src = "https://connect.facebook.net/en_US/sdk.js";

				fjs.parentNode.insertBefore(js, fjs);

			}(document, 'script', 'facebook-jssdk'));



			//在页面加载期间运行以检查用户登录状态



			function checkLoginState() {

				FB.getLoginStatus(function(response) {

					statusChangeCallback(response);

				});

			}

			//提供给回调的 response 对象

			/*{

			    status: 'connected',		//status 表示应用用户的登录状态,connected — 用户已登录

			    authResponse: {				//响应对象

			        accessToken: 'd354471a994df8d92d08c78d49f49616',		//应用用户的访问口令

			        expiresIn:'...',		//表示口令到期且需要更新的 UNIX 时间

			        signedRequest:'...',	// 经签名的参数，其中包括应用用户的信息

			        userID:'818011615237260'			//应用用户的编号

			    }

			}*/

		</script>



	</body>



</html>