<!--banner-->
<!-- <div class="T_banner">
	<div class="T_banner_mian">
		<div class="T_b_text">
			<h3>{:lang('Do you need a graduation education data exchange?')}</h3>
			<a href="/index/user/add">{:lang('Learn More')}</a>
		</div>
		<div class="T_b_Entrance">
			<h1>WSE <span>{:lang('Entrance')}</span> </h1>
			<p>{:lang('WSE is an important tool for studying work and life in Canada.')}</p>
			<a class="T_b_btn" href="/index/ku/index">{:lang('Free evaluation')}</a>
			<a href="/page/95.html">{:lang('Canadian immigrant')}</a>
			<a href="/index/user/index">{:lang('Canadian work permit')}</a>
		</div>
	</div>
</div> -->
<div class="v-banner">
			<div class="v-wrapper v-banner-text">
				<h1>WSE for Canada</h1>
				<p>Welcome to Degree Assessed Exchange Center</p>
			</div>
		</div>
		<div class="v-wrapper v-tab-row">
			<div class=" v-tabbox">
				<div class="v-navauto">
					<ul class="v-tabnav-box">
						<li class="v-tab-active"><a href="javascript:;">{:lang('Register, &nbsp; Login, &nbsp; Verification')}</a></li>
						<li><a href="javascript:;">{:lang('INDIVIDUAL')}</a></li>
						<li><a href="javascript:;">{:lang('ASSESSOR')}</a></li>
						<li><a href="javascript:;">{:lang('EDUCATION')}</a></li>
					</ul>
				</div>
				
				<div class="v-detial-box">
					<div class="v-tab-itme">
						<div class="v-tab-mian">
							<ul class="v-Entrance">
								<li><a href="/index/user/add"><i class="fa fa-user-plus"></i>{:lang('Create Account')}</a></li>
								<li><a href="/index/user/log"><i class="fa fa-sign-in"></i>{:lang('Login In')}</a></li>
								<li><a href="/index/ku/index"><i class="fa fa-check-square-o"></i>{:lang('Query verification')}</a></li>
							</ul>
						</div>
					</div>
					<div class="v-tab-itme">
						<div class="v-tab-mian v-tablink-box">
							<h1 class="v-nav-lgtit"><a href="/page/277.html">{:lang('Individual portal')} </a></h1>
							<div class="v-nav-com">
								<h1 class="v-nav-mtit"><a href="/page/275.html">{:lang('Settle in Canada')}</a></h1>
								<div class="v-navitme">
									<h1 class="v-nav-stit"><a href="/page/271.html">{:lang('Study')}</a></h1>
									<ul class="v-navcell">
										<li><a href="/page/77.html">{:lang('Choose Canada')}</a></li>
										<li><a href="/page/252.html">{:lang('Find an educational institution')} </a></li>
										<li><a href="/page/52.html">{:lang('Apply to study in Canada')}</a></li>
										<li><a href="/page/82.html">{:lang('Get financial assistance')}</a></li>
										<li><a href="/page/84.html">{:lang('Immigrate to Canada')}</a></li>
										<li><a href="/page/88.html">{:lang('Live in Canada')}</a></li>
										<li><a href="/page/90.html">{:lang('Work in Canada')}</a></li>
									</ul>
								</div>
								<div class="v-navitme">
									<h1 class="v-nav-stit"><a href="/page/272.html">{:lang('Work')}</a></h1>
									<ul class="v-navcell">
										<li><a href="/page/79.html">{:lang('Choose Canada')}</a></li>
										<li><a href="/page/80.html">{:lang('Find the name of your intended occupation in Canada')} </a></li>
										<li><a href="/page/70.html">{:lang('Learn about qualifications recognition')}</a></li>
										<li><a href="/page/255.html">{:lang('Find an occupational profile')}</a></li>
										<li><a href="/page/95.html">{:lang('Immigrate to Canada')}</a></li>
										<li><a href="/page/102.html">{:lang('Live in Canada')}</a></li>
										<li><a href="/page/103.html">{:lang('Study in Canada')}</a></li>
				
									</ul>
								</div>
							</div>
							<div class="v-nav-com">
								<h1 class="v-nav-mtit"><a href="#">{:lang('Settle outside Canada')}</a></h1>
								<div class="v-navitme">
									<h1 class="v-nav-stit"><a href="/page/273.html">{:lang('Study')}</a></h1>
									<ul class="v-navcell">
										<li><a href="/page/105.html">{:lang('Study internationally')}</a></li>
										<li><a href="/page/45.html">{:lang('Learn about recognition of your academic credentials')}</a></li>
										<li><a href="/page/111.html">{:lang('Get financial assistance')}</a></li>
										<li><a href="/page/113.html">{:lang('Emigrate from Canada')}</a></li>
										<li><a href="/page/115.html">{:lang('Find an offshore schools and international education resources')}</a></li>
									</ul>
								</div>
								<div class="v-navitme">
									<h1 class="v-nav-stit"><a href="/page/274.html">{:lang('Work')}</a></h1>
									<ul class="v-navcell">
										<li><a href="/page/119.html">{:lang('Work internationally')}</a></li>
				
										<li><a href="/page/122.html">{:lang('Find the name of your intended occupation outside Canada')} </a></li>
				
										<li><a href="/page/132.html">{:lang('Learn about qualification recognition')}</a></li>
				
										<li><a href="/page/135.html">{:lang('Emigrate from Canada')}</a></li>
				
										<li><a href="/page/138.html">{:lang('Find international labour-mobility resources')}</a></li>
				
									</ul>
				
								</div>
								
							</div>
						</div>
					
					</div>
					<div class="v-tab-itme">
						<div class="v-tab-mian v-tablink-box">
							<h1 class="v-nav-lgtit"><a href="/page/277.html">{:lang('ASSESSOR PORTAL')}</a></h1>
							
							<div class="v-nav-com">
								<h1 class="v-nav-mtit"><a href="/page/240.html">{:lang('Assess an academic credential')}</a></h1>
								<div class="v-navitme">
									<h1 class="v-nav-stit"><a href="/page/242.html">{:lang('Issued outside Canada')}</a></h1>
									<ul class="v-navcell">
										<li><a href="/page/128.html">{:lang('Receiving documents for assessment')}</a></li>
										<li><a href="/page/140.html">{:lang('Confirm the status of the educational institution and/or its academic programs')} </a></li>
										<li><a href="/page/149.html">{:lang('Authenticate the documents')}</a></li>
										<li><a href="/page/155.html">{:lang('Compare the academic credential to those found in Canada')} </a></li>
										<li><a href="/page/168.html">{:lang('Decide on the assessment outcome')}</a></li>
										<li><a href="/page/171.html">{:lang('Communicate the result to the applicant')}</a></li>
				
									</ul>
				
								</div>
							</div>
							
							<div class="v-nav-com">
								<h1 class="v-nav-mtit"><a href="/page/241.html">{:lang('Access assessment resources')}</a></h1>
								<div class="v-navitme">
									<h1 class="v-nav-stit"><a href="/page/190.html">{:lang('Use the tools')}</a></h1>
									<ul class="v-navcell">
										<li><a href="/page/124.html">{:lang('Quality Assurance Framework')}</a></li>
											
										<li><a href="/page/145.html">{:lang('Alternative qualification-assessment procedure')} </a></li>
											
										<li><a href="/page/190.html">{:lang('Directory of Comparability Assessment Outcomes')}</a></li>
											
										<li><a href="/page/189.html">{:lang('EVALUATION listserv')}</a></li>
											
										<li><a href="/page/185.html">{:lang('Competency Profile')}</a></li>
											
										<li><a href="/page/175.html">{:lang('Terminology Guides')}</a></li>
											
									</ul>
											
								</div>
								<div class="v-navitme">
								
									<h1 class="v-nav-stit"><a href="/page/243.html">{:lang('Develop your skills')}</a></h1>
				
									<ul class="v-navcell">
				
										<li><a href="/page/201.html">{:lang('Enrol in Assessment 101')}</a></li>
				
										<li><a href="/page/191.html">{:lang('Seek employment opportunities')}</a></li>
				
									</ul>
				
								</div>
							</div>
							
						</div>
					</div>
					<div class="v-tab-itme">
						<div class="v-tab-mian v-tablink-box">		
							<h1 class="v-nav-lgtit"><a href="/page/301.html">{:lang('PROVINCES AND TERRITORIES OF CANADA')}</a></h1>
							<div class="v-nav-com">
								<h1 class="v-nav-mtit"><a href="/page/301.html">{:lang('Education in Canada')}</a></h1>
								<div class="v-navitme">
								
									<h1 class="v-nav-stit"><a href="/page/299.html">{:lang('Provinces and Territories of Canada')}</a></h1>
				
									<ul class="v-navcell">
				
										<li>
				
											<a href="/page/161.html">{:lang('Alberta')}</a>
				
										</li>
				
										<li>
				
											<a href="/page/178.html">{:lang('British Columbia')}</a>
				
										</li>
				
										<li>
				
											<a href="/page/193.html">{:lang('Manitoba')}</a>
				
										</li>
				
										<li>
				
											<a href="/page/204.html">{:lang('New Brunswick')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/211.html">{:lang('Newfoundland and Labrador')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/218.html">{:lang('Northwest Territories')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/225.html">{:lang('Nova Scotia')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/232.html">{:lang('Nunavut')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/244.html">{:lang('Ontario')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/257.html">{:lang('Prince Edward Island')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/264.html">{:lang('Quebec')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/278.html">{:lang('Saskatchewan')} </a>
				
										</li>
				
										<li>
				
											<a href="/page/288.html">{:lang('Yukon')}</a>
				
										</li>
				
									</ul>
				
								</div>
								<div class="v-navitme">
								
								                    <h1 class="v-nav-stit"><a href="/page/300.html">{:lang('An overview of education in Canada')}</a></h1>
								
								                    <ul class="v-navcell">
								
								                        <li>
								
								                            <a href="/page/303.html">{:lang('Ministries/departments responsible for education in Canada')} </a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/308.html">{:lang('Elementary and secondary education systems')}</a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/57.html">{:lang('Postsecondary education systems')}</a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/309.html">{:lang('Quality assurance in postsecondary education')}</a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/305.html">{:lang('Credit transfer and articulation')}</a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/296.html">{:lang('Qualifications frameworks')}</a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/295.html">{:lang('Academic credentials')}</a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/285.html">{:lang('EduCanada')}</a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/321.html">{:lang('List of Canadian Schools: Universities')}</a>
								
								                        </li>
								
								                        <li>
								
								                            <a href="/page/322.html">{:lang('List of Canadian Schools: Colleges')}</a>
								
								                        </li>
								
								                    </ul>
								
								                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
<!--各国认证机构-->
<div class="T_full">
	<div class="T_main  T_box">
		<h1>{:lang('WSE agent applies for accreditation assessment report of higher education institutions in various countries')}</h1>
		<div class="flexslider T_cerbox">
			<ul class="slides">
				<li>
					<div class="T_list">
						<div class="T_list_hd">
							<img src="/canada/images/cun1_usa.png"/>
							<h2>{:lang('USA')}</h2>
							<!--<p>American Higher Education Certification Body</p>-->
						</div>
						<ul>
							<li>
								<div>
									<img src="/canada/images/USA_cer_1.jpg"/>
									<a href="#"><h3>{:lang('NSCH')}</h3></a>
									<a href="https://www.studentclearinghouse.org/" target="_blank"><p>{:lang('National Student Clearinghouse')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/USA_cer_2.jpg"/>
									<a href="#"><h3>{:lang('WES')}</h3></a>
									<a href="https://www.wes.org/" target="_blank"><p>{:lang('WORLD EDUCATION SERVICE')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/USA_cer_3.jpg"/>
									<a href="#"><h3>{:lang('ECE')}</h3></a>
									<a href="https://www.ece.org/ECE" target="_blank"><p>{:lang('Educational Credential Evaluators')}</p></a>
								</div>
							</li>
							<li>
								<div id="">
									<img src="/canada/images/USA_cer_4.jpg"/>
									<a href="#"><h3>{:lang('NACES')}</h3></a>
									<a href="https://www.naces.org/" target="_blank"><p>{:lang('National Association of Credential Evaluation Services')}</p></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="T_list">
						<div class="T_list_hd">
							<img src="/canada/images/cun1_ca.png"/>
							<h2>{:lang('Canada')}</h2>
						</div>
						<ul>
							<li>
								<div >
									<img src="/canada/images/CANADA_cer_1.jpg"/>
									<a href="#"><h3>{:lang('ICAS')}</h3></a>
									<a href="https://www.icascanada.ca/home.aspx" target="_blank"><p>{:lang('International Credential Assessment Service of Canada')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/USA_cer_2.jpg"/>
									<a href="#"><h3>{:lang('WES')}</h3></a>
									<a href="https://www.wes.org/ca" target="_blank"><p>{:lang('WORLD EDUCATION SERVICE')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/CANADA_cer_3.jpg"/>
									<a href="#"><h3>{:lang('IQAS')}</h3></a>
									<a href="https://www.alberta.ca/iqas-education-guides.aspx" target="_blank"><p>{:lang('International qualification assessment service')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/CANADA_cer_4.jpg"/>
									<a href="#"><h3>{:lang('ICEA')}</h3></a>
									<a href="https://www.bcit.ca/ices/" target="_blank"><p>{:lang('INTERNATIONAL CREDENTIAL EVALUATION SERVICE')}</p></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="T_list">
						<div class="T_list_hd">
							<img src="/canada/images/cun1_ch.png"/>
							<h2>{:lang('CHINA')}</h2>
						</div>
						<ul>
							<li>
								<div >
									<img src="/canada/images/china_cer_1.jpg"/>
									<a href="#"><h3>{:lang('CHESICC')}</h3></a>
									<a href="https://www.chsi.com.cn/" target="_blank"><p>{:lang('China Credentials Verification')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/china_cer_2.jpg"/>
									<a href="#"><h3>{:lang(' CSCSE')}</h3></a>
									<a href="http://www.cscse.edu.cn/publish/portal0/" target="_blank"><p>{:lang('Chinese Service Center for Scholarly Exchange')}</p></a>
								</div>
							</li>
							<li>
								<div >
									<img src="/canada/images/china_cer_3.jpg"/>
									<a href="#"><h3>{:lang('CSCSS')}</h3></a>
									<a href="https://www.cscss.com.cn/" target="_blank"><p>{:lang('National Student Information Service Network')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/china_cer_4.jpg"/>
									<a href="#"><h3>{:lang('CDGDC')}</h3></a>
									<a href="https://www.chinadegrees.cn/" target="_blank"><p>{:lang('China Academic Degree & Graduate Education Information Center')}</p></a>
								</div>

							</li>
						</ul>
					</div>
					<div class="T_list">
						<div class="T_list_hd T_list_hdhalf">
							<img src="/canada/images/cun1_au.png"/>
							<h2>{:lang('AUSTRALIA')}</h2>
						</div>
						<div class="T_list_hd T_list_hdhalf">
							<img src="/canada/images/cun1_uk.png"/>
							<h2>{:lang('UK')}</h2>
						</div>
						<ul>
							<li>
								<div >
									<img src="/canada/images/AUSTRALIA_cer_1.jpg"/>
									<a href="#"><h3>{:lang('My eQuals')}</h3></a>
									<a href="https://www.myequals.edu.au/" target="_blank"><p>{:lang('Australia and New Zealand certified digital documents')}</p></a>
								</div>
							</li>

							<li>
								<div>
									<img src="/canada/images/UK_cer_1.jpg"/>
									<a href="#"><h3>{:lang('HEDD')}</h3></a>
									<a href="https://hedd.ac.uk/" target="_blank"><p>{:lang('PROSPECTS HEDD VERIFICATION + AUTHENTICATION')}</p></a>
								</div>
							</li>
							<li>
								<div >
									<img src="/canada/images/AUSTRALIA_cer_2.jpg"/>
									<a href="#"><h3>{:lang('TEQSA')}</h3></a>
									<a href="https://www.teqsa.gov.au/" target="_blank"><p>{:lang('Tertiary Education Quality and Standards Agency')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/UK_cer_2.jpg"/>
									<a href="#"><h3>{:lang('UK-NARIC')}</h3></a>
									<a href="https://www.naric.org.uk" target="_blank"><p>{:lang('UK-National Recognition Information Centre')}</p></a>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="T_list">
						<div class="T_list_hd T_list_hdhalf">
							<img src="/canada/images/cun1_ne.png"/>
							<h2>{:lang('Netherlands')}</h2>
						</div>
						<div class="T_list_hd T_list_hdhalf">
							<img src="/canada/images/cun1_ir.png"/>
							<h2>{:lang('Ireland')}</h2>
						</div>
						<ul>
							<li>
								<div >
									<img src="/canada/images/net_cer_1.jpg"/>
									<a href="#"><h3>{:lang('DUO')}</h3></a>
									<a href="https://www.duo.nl/particulier/" target="_blank"><p>{:lang('Dienst Uitvoering Onderwijs')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/Ireland_cer_1.jpg"/>
									<a href="#"><h3> {:lang(' DIGITARY')}</h3></a>
									<a href="https://www.digitary.net/" target="_blank"><p>{:lang('Digitary')}</p></a>
								</div>
							</li>
							<li>
								<div >
									<img src="/canada/images/net_cer_2.jpg"/>
									<a href="#"><h3>{:lang('IDW')}</h3></a>
									<a href="https://www.idw.nl/en/" target="_blank"><p>{:lang('International credential evaluation')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/Ireland_cer_2.jpg"/>
									<a href="#"><h3>{:lang('QQI')}</h3></a>
									<a href="https://www.digitary.net/" target="_blank"><p>{:lang('Quality and Qualifications Ireland')}</p></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="T_list">
						<div class="T_list_hd T_list_hdhalf">
							<img src="/canada/images/cun1_new.png"/>
							<h2>{:lang('New Zealand')}</h2>
							<p></p>
						</div>
						<div class="T_list_hd T_list_hdhalf">
							<img src="/canada/images/cun1_fr.png"/>
							<h2>{:lang('France')}</h2>
						</div>
						<ul>
							<li>
								<div>
									<img src="/canada/images/new_cer_2.jpg"/>
									<a href="#"><h3>{:lang('AQA')}</h3></a>
									<a href="https://www.aqa.ac.nz/" target="_blank"><p>{:lang('Academic Quality Agency')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/France_cer_1.jpg"/>
									<a href="#"><h3>{:lang(' Verifdiploma')}</h3></a>
									<a href="https://www.verifdiploma.com/" target="_blank"><p>{:lang('Verifdiploma')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/new_cer_1.jpg"/>
									<a href="#"><h3>{:lang('NZQA')}</h3></a>
									<a href="https://www.nzqa.govt.nz/" target="_blank"> <p>{:lang('New Zealand Qualifications Authority')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/France_cer_2.jpg"/>
									<a href="#"><h3>{:lang('Hceres')}</h3></a>
									<a href="https://www.hceres.fr/fr/faire-connaissance" target="_blank"><p>{:lang('Higher council for research and higher education')}</p></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="T_list">
						<div class="T_list_hd T_list_hdhalf">
							<img src="/canada/images/cun1_JA.png"/>
							<h2>{:lang('Japan')}</h2>
							<p></p>
						</div>
						<div class="T_list_hd T_list_hdhalf">
							<img src="/canada/images/cun1_ru.png"/>
							<h2>{:lang('Russia')}</h2>
							<p></p>
						</div>
						<ul>
							<li>
								<div>
									<img src="/canada/images/Japan_cer_1.jpg"/>
									<a href="#"><h3>{:lang('NIAD-QE')}</h3></a>
									<a href="https://www.niad.ac.jp/" target="_blank"><p>{:lang('NIAD-QE')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/Russia_cer_1.jpg"/>
									<a href="#"><h3>{:lang('NIC')}</h3></a>
									<a href="https://nic.gov.ru" target="_blank"><p>{:lang('National Information Center')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/Japan_cer_2.jpg"/>
									<a href="#"><h3>{:lang('JUAA')}</h3></a>
									<a href="https://www.juaa.or.jp" target="_blank"><p>{:lang('Japan University Accreditation')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/Russia_cer_2.jpg"/>
									<a href="#"><h3>{:lang('NIC ARM')}</h3></a>
									<a href="http://www.russianenic.ru/" target="_blank"><p>{:lang('National Information Center on Academic Recognition and Mobility')} </p></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="T_list">
						<div class="T_list_hd T_list_hdhalf ">
							<img src="/canada/images/cun1_sp.png"/>
							<h2>{:lang('Spain')}</h2>
							<p></p>
						</div>
						<div class="T_list_hd T_list_hdhalf ">
							<img src="/canada/images/cun1_it.png"/>
							<h2>{:lang('Italy')}</h2>
							<p></p>
						</div>
						<ul>
							<li>
								<div>
									<img src="/canada/images/sp_cer_1.jpg"/>
									<a href="#"><h3>{:lang('ANECA')}</h3></a>
									<a href="http://www.aneca.es/" target="_blank"><p>{:lang('National agency for the evaluation of quality and accreditation')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/it_cer_1.jpg"/>
									<a href="#"><h3>{:lang('CIMEA')}</h3></a>
									<a href="http://www.cimea.it/en/index.aspx" target="_blank"><p>{:lang('THE ART OF CONNECTING ACADEMIA')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/sp_cer_2.jpg"/>
									<a href="#"><h3>{:lang('EACEA')}</h3></a>
									<a href="https://eacea.ec.europa.eu/homepage_en" target="_blank"><p>{:lang('Education, Audiovisual and Culture Executive Agency')}</p></a>
								</div>
							</li>
							<li>
								<div>
									<img src="/canada/images/it_cer_2.jpg"/>
									<a href="#"><h3>{:lang(' UNIVERSITALY')}</h3></a>
									<a href="https://www.universitaly.it/index.php/#null" target="_blank"><p>{:lang('UNIVERSITALY')}</p></a>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!--加拿大概况-->
<div class="green-box">
    <div class="green-setion">
      <div class="green-item">
        <img src="/canada/images/us-pic.jpg" alt="">
        <span class="super-pp">FIND GOVERNMENT INFOR-MATION ON EDUCATION IN-CLUDING PRIMARY,SECOND-ARY, AND
          HIGHER
          EDUCA-TION.</span>
      </div>

      <div class="green-ri-box">
        <div class="green-left">
          <div class="green-left-red">
            <p>COLLEGE AND HIGHER EDUCATION</p>
            <span>Find out where to get answers to common qiestions about colleges and universities.</span>
          </div>

          <div class="green-left-red">
            <p>FINANCIAL AID FOR STUDENTS</p>
            <span>Learn about getting help paying for school.</span>
          </div>

          <div class="green-left-red">
            <p>RESOURCES FOR TEACHERS</p>
            <span>Find lesson plans and other helpful activities for your class.</span>
          </div>
        </div>

        <div class="green-right">
          <div class="green-left-red">
            <p>HOW TO STUDY IN THE U.S</p>
            <span>Find out how you can visit the United States as a stu-dent.</span>
          </div>

          <div class="green-left-red">
            <p>MANAGE AND REPAY STUDENT LOANS</p>
            <span>Get answers to the most common questions about stu-dent loans.</span>
          </div>

          <div class="green-left-red">
            <p>CHILD CARE AND RELATED ISSUES</p>
            <span>Find resources about adoption,kinship care and other child and teenager-related
              situations.</span>
          </div>
        </div>
      </div>
    </div>
</div>

 <!--替换2 -->
<div class="content-box">
    <div class="content-item-cal">
      <div class="content-item-top">
        <p>WHETHER YOU PLAN TO PURSUE A SHORT-TERM OR FULL DEGREE PROGRAM IN THE UNITED STATES,</p>
        <p>WSE HAS THE RESOURCES YOU NEED IN 'YOUR FIVE STEPS TO U.S STUDY'.</P>
      </div>
      <div class="content-item-bottom">
        <div class="content-choos">
          <img src="/canada/images/icon-1green.png" 
              onmouseover="this.src='/canada/images/icon-1red.png'"
            onmouseout="this.src='/canada/images/icon-1green.png'"
            alt="">
          <div class="xian"></div>
          <p>Research Your Options</p>
          <p>Learn about the variety of options available and how to identify an institution that best fits
            your needs</p>

        </div>
        <div class="content-choos">
          <img src="/canada/images/icon-2green.png" onmouseover="this.src='/canada/images/icon-2red.png'"
          onmouseout="this.src='/canada/images/icon-2green.png'" alt="">
          <div class="xian"></div>
          <p>Finance Your Studies</p>
          <p>Need funding? Explore options or check out our university financial aid opportunity list.</p>
        </div>
        <div class="content-choos">
          <img src="/canada/images/icon-3green.png" onmouseover="this.src='/canada/images/icon-3red.png'"
            onmouseout="this.src='/canada/images/icon-3green.png'" alt="">
          <div class="xian"></div>
          <p>Research Your Options</p>
          <p>Plan ahead and know the docu-ments and requirements to apply for your program.</p>
        </div>
        <div class="content-choos">
          <img src="/canada/images/icon-4green.png" onmouseover="this.src='/canada/images/icon-4red.png'"
            onmouseout="this.src='/canada/images/icon-4green.png'" alt="">
          <div class="xian"></div>
          <p>Apply for Your Student Visa</p>
          <p>Become familiar with U.S student visa requirements and allow plenty of time to prepare your
            application.</p>
        </div>
        <div class="content-choos">
          <img src="/canada/images/icon-5green.png" onmouseover="this.src='/canada/images/icon-5red.png'"
            onmouseout="this.src='/canada/images/icon-5green.png'" alt="">
          <div class="xian"></div>
          <p>Prepare for Your Departure</p>
          <p>Pre-departure information includ-ing gathering documents for arriv-al and immigration compliance
          </p>
        </div>
      </div>
    </div>

</div>
 
 
<!--为什么要选择DAE-->
<div class="T_full">
	<div class="T_main T_wbox">
		<h1>{:lang('Why Choose')} <span>WSE</span></h1>
		<ul class="T_wlist">
			<li>
				<img src="/canada/images/choose_icon_1.png"/>
				<h3>{:lang('Fast Service')}</h3>
				<p>{:lang('We can complete your evaluation in seven business days after we receive and approve all your documents.')}</p>
			</li>
			<li>
				<img src="/canada/images/choose_icon_2.png"/>
				<h3>{:lang('Trusted Evaluations')}</h3>
				<p>{:lang('We have provided more than 0.2 million evaluations to international students and professionals.')}</p>
			</li>
			<li>
				<img src="/canada/images/choose_icon_3.png"/>
				<h3>{:lang('Unmatched Resources')}</h3>
				<p>{:lang('We have a diverse staff and a custom-built database that contains over 10 years of research.')}</p>
			</li>
		</ul>
	</div>
</div>
<script>
    //毕业
    $(function () {
        $(".T_ca_gradu").flexslider({
            slideshowSpeed:3000,
            animation: "slide",
        });
        $(".T_cerbox").flexslider({
            slideshowSpeed:6000,
            animation: "slide",
        });
    });
	
	$(function(){
		$(".v-detial-box").find(".v-tab-itme:first").show();
		$(".v-tabnav-box li ").click("mouseover",function(){
			var index=$(this).index();
			$(this).parent().parent().next().find(".v-tab-itme").hide().eq(index).show();
			$(this).addClass("v-tab-active").siblings().removeClass("v-tab-active");
		})
	})
</script>
