<!DOCTYPE html>

<html lang="en">

{__NOLAYOUT__}

<head>

    <meta charset="utf-8"/>

    <title>{:lang('Renew WSE-ECA Application V1')}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/canada/css/common.css"/>

    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>

    <link rel="stylesheet" href="/canada/css/user-new.css"/>

    <script src="/static/js/jquery.min.js"></script>

    <script src="/static/js/mobile.js"></script>

    <script src="/static/js/layui/layui.js"></script>

    <script src="/canada/js/html.js"></script>

</head>

<body>



{include file="public/header-user" /}



<section class="mainContent">

    <div class="layui-container">



        <div class="layui-row layui-col-space15">

            <div class="layui-col-sm2">

                <!--    nav-left    -->

                {include file="public/nav-left" /}

            </div>

            <div class="layui-col-sm10">



                <!--    user avatar    -->

                <div class="layui-row user-avatar">

                    <div class="layui-col-sm2 layui-col-xs4">

                        <a href="/profile"><img src="/static/images/person-icon.png"></a>

                    </div>

                    <div class="layui-col-sm10 layui-col-xs8">

                        <h1>{:lang('Renew WSE-ECA Application V1')}</h1>

                        <p><b>Tom</b></p>

                        <p>8788@qq.com — X361987</p>

                    </div>

                </div>

                <hr/>



                <div class="layui-row profile">

                    <div class="layui-col-sm12">

                        <p><b>{:lang('Application Fee')}:</b><span class="right">$189.00  </span></p>

                    </div>

                </div>



                <div class="layui-row">

                    <div class="buttons layui-col-sm12 ">

                        <a class="layui-btn layui-btn-primary">{:lang('Cancel')}</a>

                        <a class="layui-btn mazarine right">{:lang('Apply Now')}</a>

                    </div>

                </div>



            </div>

        </div>

    </div>

</section>



{include file="public/footer-login" /}



</body>



</html>