<!DOCTYPE html>
<html lang="en">
{__NOLAYOUT__}
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/canada/css/common.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/canada/css/application.css">
    <link rel="stylesheet" href="/canada/css/user-new.css"/>
    <link rel="stylesheet" type="text/css" href="/canada/css/mobile.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/mobile.js"></script>
    <script src="/static/js/layui/layui.js"></script>
    <script src="/canada/js/html.js"></script>
</head>
<body>

{include file="public/header-user" /}

<section class="mainContent">
    <div class="layui-container">

        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm2">
                <!--    nav-left    -->
                {include file="public/nav-left" /}
            </div>
            <div class="layui-col-sm10">
                <!--    user avatar    -->
                <div class="layui-row user-avatar">
                    <div class="layui-col-sm2 layui-col-xs4">
                        <a href="/profile"><img src="{$user.head_img}"></a>
                    </div>
                    <div class="layui-col-sm10 layui-col-xs8">
                        <h1>{:lang('Data Transfer Order')}</h1>
                        <p><b>{$user.username}</b></p>
                        <p>{$user.email}— {$user.search_id}</p>
                    </div>
                </div>
                <hr/>

                <!--    transfer order    -->
                <div class="layui-row">
                    <div class="layui-col-sm12 layui-col-xs12">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th colspan="5" style="text-align: center;background-color: #88c34d;color: #fff;">
                                    {:lang('Data Transfer Order')}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {notempty name="$user.refusal"}
                            <tr>
                                <td colspan="5" style="color: red;text-align: center">{:lang('Reasons for failure of audit')} : {$user.refusal}</td>
                            </tr>
                            {/notempty}
                            <tr>
                                <td>{:lang('Order Number')}</td>
                                <td>{:lang('Application')}</td>
                                <td>{:lang('Creation Time')}</td>
                                <td>{:lang('Complete Time')}</td>
                                <td>{:lang('Price')}</td>
                            </tr>
                            {foreach name="order" item="vo"}
                            <tr>
                                <td>{$vo.order_number}</td>
                                <td>{switch name="$Think.cookie.think_var"}
                                    {case value="en-us"}{$vo.name_en}{/case}
                                    {case value="zh-cn"}{$vo.app_name}{/case}
                                    {case value="ja-jp"}{$vo.name_jp}{/case}
                                    {case value="de-de"}{$vo.name_de}{/case}
                                    {case value="ko-kr"}{$vo.name_kr}{/case}
                                    {case value="ru-ru"}{$vo.name_ru}{/case}
                                    {case value="fr-fa"}{$vo.name_fa}{/case}
                                    {/switch}</td>
                                <td>{$vo.create_time}</td>
                                <td>{$vo.pay_time}</td>
                                <td>{$vo.pay}</td>
                            </tr>
                            {/foreach}
                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{include file="public/footer-login" /}

</body>
</html>
