<!DOCTYPE html>
<html lang="en">
{__NOLAYOUT__}
<head>
    <meta charset="utf-8"/>
    <title>{:lang('OAA Course Enrollment Application for Intern')}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/canada/css/common.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/canada/css/user-new.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/mobile.js"></script>
    <script src="/static/js/layui/layui.js"></script>
    <script src="/canada/js/html.js"></script>
</head>
<body>

{include file="public/header-user" /}

<section class="mainContent">
    <div class="layui-container">

        <!--    user header    -->
        <div class="layui-row mainContent-header">
            <div class="layui-col-sm12">
                        <h1>{:lang('OAA Course Enrollment Application for Intern')}</h1>
            </div>
        </div>

        <div class="layui-row">
            <div class="buttons layui-col-sm12 ">
                        <a class="layui-btn layui-btn-primary">{:lang('Cancel')}</a>
                        <a class="layui-btn mazarine right">{:lang('Apply Now')}</a>
            </div>
        </div>
    </div>
</section>

{include file="public/footer-login" /}

</body>

</html>