<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Selection agency</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/flexslider.min.css" />
		<link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="css/content.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/user.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.flexslider-min.js"></script>
		<script src="js/selectFilter.js"></script>
		<script src="js/mobile.js"></script>
		<script src="layui/layui.js"></script>
		<script src="js/html.js"></script>
	</head>
	<body>
		<header class="User_hd_full">
			<div class="T_main User_hd">
				<a href="#"><img src="user-img/logo.png"/></a>
				<div class="User_hd_bottom">
					<ul class="layui-nav">
						  <li class="layui-nav-item"><a href="">Application review</a></li>
						  <li class="layui-nav-item"><a href="">Data exchange</a></li>
						  <li class="layui-nav-item"><a href="">Order</a></li>
						  
						  <li class="layui-nav-item">
							<a href="javascript:;">Profile</a>
							<dl class="layui-nav-child">
							  <dd><a href="">Account Settings</a></dd>
							  <dd><a href="">Sign Out</a></dd>
							</dl>
						  </li>
					</ul>
				</div>
			</div>
		</header>
		
		<!-- info hd -->
		<div class="T_main User_info">
			<div class=" User_Avatar">
				<a class="User_logo" href="#"><img src="user-img/person-icon.png" ></a>
				<div class="User_Avatar_down">
					<form action="" method="">
						<div class="User_Ava_tit">
							Edit Profile Picture
							<i class="fa fa-close"></i>
						</div>
						<label for="profile" class="User_per">
							<input name="profileImage" id="profile" type="file">
							<i class="fa fa-long-arrow-right "></i>
							<span >Add Your Profile Photo</span>
						</label>
						<p>Max File Size: 5 MB</p>
						<p>File Formats: PNG, JPEG, GIF</p>
						<a href="javascript:;"  class="User_per">
							<i class="fa fa-long-arrow-right "></i>
							<span >Remove Photo</span>
						</a>
					</form>
					<div class="User_direction_icon fa fa-play"> </div>
				</div>
			</div>
			<div class="User_Avart">
				<div class="User_Ava_nav"> <a class="User_edit" href="#">Edit</a></div>
				<h2>JIE XU</h2>
			</div>
			
		</div>
		<!--主要内容-->
		<div class=" User_mian_full">
			<div class="T_main ">
				<div class="Up_box Ua_box Ue_box">
					
					<div class="Ue_list">
						<h3 class="Ue_tit "><i class="fa fa-mortar-board"></i> Bachelor degree <i class="fa fa-angle-down"></i></h3>
						<div class="Ue_table">
							<table class="D_table " border="" cellspacing="" cellpadding="">
								<tr>
									<td>Name:</td> <td>sitder sadwen</td> 
									<td>Country of Citizenship:</td> <td>china</td>
								</tr>
								<tr>
									<td>Gender:</td> <td>Maple Leaf Card</td> 
									<td>ID number:</td> <td>456666589</td>
								</tr>
								<tr>
									<td>Type of ID:</td> <td>Female</td> 
									<td>Date of birth:</td> <td>2000-11-10</td>
								</tr>
								
								<tr>
									<td>School name:</td> <td>Harvard University</td> 
									<td>Learning level:</td> <td>Junior college course</td>
								</tr>
								<tr>
									<td>Subject category:</td> <td>Business management</td> 
									<td>Professional title:</td> <td>Digital finance</td>
								</tr>
								<tr>
									<td>student ID:</td> <td>18556588</td> 
									<td>Paper name:</td> <td>Digital Finance and Business Development</td>
								</tr>
								<tr>
									<td>Start date:</td> <td>2016-09-11</td> 
									<td>Graduation date:</td> <td>2019-06-20</td>
								</tr>
								<tr>
									<td>Document photo:</td> <td><img class="D_tableimg" data-original="user-img/icon1_person.png" src="user-img/icon1_person.png" ></td> 
									<td>ID card scan:</td> <td> <img  class="D_tableimg" data-original="user-img/icon1_id.png" src="user-img/icon1_id.png" ></td>
								</tr>
								<tr>
									<td>Diploma:</td> <td><img  class="D_tableimg" data-original=""user-img/icon1_D.png" src="user-img/icon1_D.png" ></td> 
									<td>Transcript:</td> <td><img  class="D_tableimg" data-original="user-img/icon1_T.png" src="user-img/icon1_T.png" ></td>
								</tr>
								<tr>
									
									<td  colspan="4">
										<div class="D_confirm">
											<span>Personal signature:</span>
											 <img src="user-img/signature.jpg" >
										</div>
									</td>
								</tr>
							</table>				
												
						</div>
						
					</div>
					<div class="Ue_list">
						<h3 class="Ue_tit "><i class="fa fa-mortar-board"></i> Bachelor degree <i class="fa fa-angle-down"></i></h3>
						<div class="Ue_table">
							<table class="D_table " border="" cellspacing="" cellpadding="">
								<tr>
									<td>Name:</td> <td>sitder sadwen</td> 
									<td>Country of Citizenship:</td> <td>china</td>
								</tr>
								<tr>
									<td>Gender:</td> <td>Maple Leaf Card</td> 
									<td>ID number:</td> <td>456666589</td>
								</tr>
								<tr>
									<td>Type of ID:</td> <td>Female</td> 
									<td>Date of birth:</td> <td>2000-11-10</td>
								</tr>
								
								<tr>
									<td>School name:</td> <td>Harvard University</td> 
									<td>Learning level:</td> <td>Junior college course</td>
								</tr>
								<tr>
									<td>Subject category:</td> <td>Business management</td> 
									<td>Professional title:</td> <td>Digital finance</td>
								</tr>
								<tr>
									<td>student ID:</td> <td>18556588</td> 
									<td>Paper name:</td> <td>Digital Finance and Business Development</td>
								</tr>
								<tr>
									<td>Start date:</td> <td>2016-09-11</td> 
									<td>Graduation date:</td> <td>2019-06-20</td>
								</tr>
								<tr>
									<td>Document photo:</td> <td><img class="D_tableimg" data-original="user-img/icon1_person.png" src="user-img/icon1_person.png" ></td> 
									<td>ID card scan:</td> <td> <img  class="D_tableimg" data-original="user-img/icon1_id.png" src="user-img/icon1_id.png" ></td>
								</tr>
								<tr>
									<td>Diploma:</td> <td><img  class="D_tableimg" data-original=""user-img/icon1_D.png" src="user-img/icon1_D.png" ></td> 
									<td>Transcript:</td> <td><img  class="D_tableimg" data-original="user-img/icon1_T.png" src="user-img/icon1_T.png" ></td>
								</tr>
								<tr>
									
									<td  colspan="4">
										<div class="D_confirm">
											<span>Personal signature:</span>
											 <img src="user-img/signature.jpg" >
										</div>
									</td>
								</tr>
							</table>				
												
						</div>
						
					</div>
					<div class="Ue_add">
						<a class="U_apply_btn add_btn" href="#">
						 <i class="fa fa-plus"></i>	New degree
						</a>
					</div>
				</div>
			
			</div>	
		</div>
		
		<footer class="User_ft">
			<a href="#">Home</a> | <span>© Copyright 2019 ca.university All Rights Reserved</span>
		</footer>
		<script>
			$(function(){
				$('.Ue_table').hide();
				$('.Ue_tit ').click(function(){
					$(this).next().slideToggle()
				})
			})
		</script>
	</body>

</html>