<!DOCTYPE html>
<html>
{__NOLAYOUT__}
	<head>
		<meta charset="utf-8" />
		<title>forget_password</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/canada/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/canada/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/canada/css/flexslider.min.css" />
		<link rel="stylesheet" type="text/css" href="/canada/css/viewer.min.css"/>
		<link rel="stylesheet" type="text/css" href="/static/js/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="/canada/css/content.css" />
		<link rel="stylesheet" type="text/css" href="/canada/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/canada/css/user.css" />
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.flexslider-min.js"></script>
		<script src="/static/js/viewer-jquery.min.js"></script>
		<script src="/static/js/mobile.js"></script>
		<script src="/static/js/layui/layui.js"></script>
		<script src="/canada/js/html.js"></script>
	</head>
	<body>
	{include file="public/header" /}
		<div class="Uf_box">
			<form id="login">
				<h2>{:lang('Forgotten Password')}</h2>
				<div class="Ul_flist ">
					<!-- <img src="user-img/yzm.svg" > -->
					<p>{:lang('Email Address')}:</p>
					{:token()}
					<input type="text" name="email"  placeholder="Email address" />
				</div>
				<div class="Ul_flist">
					<button class="submit" type="button">{:lang('Resend Password')}</button>
				</div>
				<a class="Ul_forget" href="/log">{:lang('Return to Login')}</a>
			</form>

			<script type="text/javascript">
                layui.use(['form', 'layedit', 'laydate'], function(){
                    var form = layui.form
                     ,layer = layui.layer;

		        $(".submit").click(function(){

		            submit();
                    $(".submit").attr('disabled','disabled')
		        })
		
		        function submit(){
		            $.post("/forget_pass", $("#login").serialize(),
		                function (data) {
		                	
		                    if(data.code==1){
		                        layer.msg('Please go to the E-mail to reset the password',{time:2000},function(){
									window.location.href=data.url;
									console.log(data.url)
								})
		                    }else{
		                        layer.msg(data.msg);
                                $(".submit").removeAttr('disabled');
		                    }

		                },
		                "json"
		            );
		        }
		    });
		</script>

		</div>
	{include file="public/footer" /}
	</body>
</html>