<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Data exchange</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/flexslider.min.css" />
		<link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="css/content.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/user.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.flexslider-min.js"></script>
		<script src="js/selectFilter.js"></script>
		<script src="js/mobile.js"></script>
		<script src="layui/layui.js"></script>
		<script src="js/html.js"></script>
	</head>
	<body>
		<header class="User_hd_full">
			<div class="T_main User_hd">
				<a href="#"><img src="user-img/logo.png"/></a>
				<div class="User_hd_bottom">
					<ul class="layui-nav">
						  <li class="layui-nav-item"><a href="">Application review</a></li>
						  <li class="layui-nav-item"><a href="">Data exchange</a></li>
						  <li class="layui-nav-item"><a href="">Order</a></li>
						  
						  <li class="layui-nav-item">
							<a href="javascript:;">Profile</a>
							<dl class="layui-nav-child">
							  <dd><a href="">Account Settings</a></dd>
							  <dd><a href="">Sign Out</a></dd>
							</dl>
						  </li>
					</ul>
				</div>
			</div>
		</header>
		
		<!-- info hd -->
		<div class="T_main User_info">
			<div class=" User_Avatar">
				<a class="User_logo" href="#"><img src="user-img/person-icon.png" ></a>
				<div class="User_Avatar_down">
					<form action="" method="">
						<div class="User_Ava_tit">
							Edit Profile Picture
							<i class="fa fa-close"></i>
						</div>
						<label for="profile" class="User_per">
							<input name="profileImage" id="profile" type="file">
							<i class="fa fa-long-arrow-right "></i>
							<span >Add Your Profile Photo</span>
						</label>
						<p>Max File Size: 5 MB</p>
						<p>File Formats: PNG, JPEG, GIF</p>
						<a href="javascript:;"  class="User_per">
							<i class="fa fa-long-arrow-right "></i>
							<span >Remove Photo</span>
						</a>
					</form>
					<div class="User_direction_icon fa fa-play"> </div>
				</div>
			</div>
			<div class="User_Avart">
				<div class="User_Ava_nav"> <a class="User_edit" href="#">Edit</a></div>
				<h2>JIE XU</h2>
			</div>
			
		</div>
		
		<!--主要内容-->
		<div class=" User_mian_full">
			<div class="T_main Ua_box ">
				<div class="Tr_rebox Um_tit">
					<h3>Data exchange</h3>
				</div>
				<table class="Um_tablebox" border="" cellspacing="" cellpadding="">
					<!-- <tr>
						<th>Category</th>
						<th>Content</th>
					</tr> -->
					<tr>
						<td>Order number </td>
						<td>201253554666</td>
					</tr>
					<tr>
						<td>Evaluation institution name</td>
						<td>National Student Clearinghouse</td>
					</tr>
					<tr>
						<td>Date of payment</td>
						<td>2019-04-08</td>
					</tr>
					<tr>
						<td>Payment amount</td>
						<td>
							$1250
						</td>
					</tr>
					<tr>
						<td>Payment status</td>
						<td><span class="Um_red">unpaid</span></td>
						<span style="display: none;" class="Um_green">Paid</span>
					</tr>
					<tr>
						<td>operating</td>
						<td>  
							<a href="#" class="Um_red">Continue to pay</a>
							<span style="display: none;" class="Um_green">carry out</span>
						</td>
					</tr>
					<tr></tr>
					
				</table>
				<table class="Um_tablebox" border="" cellspacing="" cellpadding="">
					<!-- <tr>
						<th>Category</th>
						<th>Content</th>
					</tr> -->
					<tr>
						<td>Order number </td>
						<td>201253554666</td>
					</tr>
					<tr>
						<td>Evaluation institution name</td>
						<td>National Student Clearinghouse</td>
					</tr>
					<tr>
						<td>Date of payment</td>
						<td>2019-04-08</td>
					</tr>
					<tr>
						<td>Payment amount</td>
						<td>
							$1250
						</td>
					</tr>
					<tr>
						<td>Payment status</td>
						<td><span class="Um_red">unpaid</span></td>
						<span style="display: none;" class="Um_green">Paid</span>
					</tr>
					<tr>
						<td>operating</td>
						<td>  
							<a href="#" class="Um_red">Continue to pay</a>
							<span style="display: none;" class="Um_green">carry out</span>
						</td>
					</tr>
					<tr></tr>
					
				</table>		
			    <div class="U_apply">
			    	<img src="user-img/apply_icon.png" >
					<h3>No degree assessment application</h3>
					<a class="U_apply_btn" href="#">Apply now</a>
			    </div>
			</div>
		</div>
		<footer class="User_ft">
			<a href="#">Home</a> | <span>© Copyright 2019 ca.university All Rights Reserved</span>
		</footer>
		<script>
			
		</script>
	</body>

</html>