<!DOCTYPE html>

<html>



	<head>

		<meta charset="utf-8" />

		<title>Data upload</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="css/common.css" />

		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

		<link rel="stylesheet" type="text/css" href="css/flexslider.min.css" />

		<link rel="stylesheet" type="text/css" href="css/viewer.min.css"/>

		<link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>

		<link rel="stylesheet" type="text/css" href="css/content.css" />

		<link rel="stylesheet" type="text/css" href="css/index.css" />

		<link rel="stylesheet" type="text/css" href="css/user.css" />

		<script src="js/jquery.min.js"></script>

		<script src="js/jquery.flexslider-min.js"></script>

		<script src="js/viewer-jquery.min.js"></script>

		<script src="js/mobile.js"></script>

		<script src="layui/layui.js"></script>

	</head>

	<body>

		<header class="User_hd_full">

			<div class="T_main User_hd">

				<a href="#"><img src="images/logo.png"/></a>

				<div class="User_hd_bottom">

					<form class="layui-form" action="" method="post"  lay-filter="example">

							<div class="filter-box">

								<select name="filter">

									<option value="new" selected disabled>Switch language</option>

									<option value="unaudited">简体中文</option>

									<option value="nothrough">繁体中文</option>

									<option value="audit">日本語</option>

									<option value="audited">Deutsch</option>

									<option value="passed">已通过</option>

									<option value="1">한국어</option>

									<option value="2">Русский</option>

									<option value="3">Français</option>

								</select>

							</div>

					</form>

					<dl class="User_hd-rt">

						<dt>

							<i class="fa fa-user"></i>

							qiaojie xu

							<i class="fa fa-angle-down"></i>

						</dt>

						<dd><i class="fa fa-sign-out"></i> sign out</dd>

					</dl>

				</div>

			</div>

		</header>

		<!--主要内容-->

		<div class=" User_mian_full">

			<div class="T_main  U_mian">

				<div class="User_left">

					<h3><i class="fa fa-mortar-board"></i>Function List</h3>

					<ul class="User_ltbox">

						<li><a href="#">Basic Information <i class="fa fa-angle-right"></i></a></li>

						<li><a href="#">My application <i class="fa fa-angle-right"></i></a></li>

						<li><a href="#">Payment details<i class="fa fa-angle-right"></i></a></li>

						<li><a href="#">change Password<i class="fa fa-angle-right"></i></a></li>

					</ul>

					<dl class="U_soft">

						<dt >

							<img src="user-img/soft_icon1.png" >

							<img src="user-img/soft_icon2.png" >

							<img src="user-img/soft_icon3.png" >

							<img src="user-img/soft_icon4.png" >

						</dt>

						<dd>

							WSE protects users' privacy, science majors, and security hubs for academic qualification assessment.

						</dd>

							

					</dl>

				</div>

				

				<div class="User_right">

					<ul class="User_step">

						<li class="User_list_step">

							<h3>1</h3>

							<p>Basic Information</p>

							<span class="User_step_dot"></span>

						</li>

						<li class="User_list_step">

							<h3>2</h3>

							<p>Application Information</p>

							<span class="User_step_dot"></span>

						</li>

						<li class="User_list_step">

							<h3>3</h3>

							<p>Data upload</p>

							<span class="User_step_dot"></span>

						</li>

						<li>

							<h3>4</h3>

							<p>Selection agency</p>

							<span class="User_step_dot"></span>

						</li>

						<li>

							<h3>5</h3>

							<p>carry out</p>

							<span class="User_step_dot"></span>

						</li>

					</ul>

					<div class="Ua_box">

						<form action="" method="post">

							<h3 class="Ut_tit"><span>Limits：</span>image upload format PNG, JPG, GIF three types, image size is limited to (2M)!</h3>

							<div class="Ut_pic">

								<div class="Ut_phd">

									<h3><span>*</span>ID Photo</h3>

									<p>A two-inch digital version</p>

								</div>

								<div class="Ut_pbd" >

									<img class="Ut_ctu" src="user-img/icon1_person.png" >

									<p></p>

									<input type="file" name="" id="" value="" />

									<img class="Ut_up-icon" src="user-img/up-icon.svg" >

								</div>

								<!-- <div class="Ut_pic_box">

									<div class="Ut_pbd-up">

										<img class="Ut_success_pic" data-original="user-img/up-pic.png"  src="user-img/up-pic.png" >

										<p><i class="fa fa-trash"></i></p>

									</div>

								</div> -->

							</div>

							<div class="Ut_pic">

								<div class="Ut_phd">

									<h3><span>*</span>ID card scan</h3>

									<p>Front and back(Study Permit, Maple Leaf Card, Passport)</p>

								</div>

								<div class="Ut_pbd">

									<img class="Ut_ctu" src="user-img/icon1_id.png" >

									<p></p>

									<input type="file" name="" id="" value="" />

									<img class="Ut_up-icon" src="user-img/up-icon.svg" >

								</div>

							</div>

							<div class="Ut_pic">

								<div class="Ut_phd">

									<h3><span>*</span>Handheld statement file</h3>

									<p><a href="#">Declaration file download</a></p>

								</div>

								<div class="Ut_pbd">

									<img class="Ut_ctu" src="user-img/icon1_dec.png" >

									<p></p>

									<input type="file" name="" id="" value="" />

									<img class="Ut_up-icon" src="user-img/up-icon.svg" >

								</div>

							</div>

							<div class="Ut_pic Ut_pic_full">

								<div class="Ut_phd">

									<h3><span>*</span>Diploma and transcript scan</h3>

									<p>Scanned diplomas and transcripts after graduation</p>

								</div>

									<div class="Ut_pic_box">

									<div class="Ut_pbd-up">

										<img class="Ut_success_pic" data-original="user-img/up-pic.png"  src="user-img/up-pic.png" >

										<p><i class="fa fa-trash"></i></p>

									</div>

									<div class="Ut_pbd-up">

										<img class="Ut_success_pic" data-original="user-img/up-pic.png"  src="user-img/up-pic.png" >

										<p><i class="fa fa-trash"></i></p>

									</div>

									<div class="Ut_pbd-up">

										<img class="Ut_success_pic" data-original="user-img/up-pic.png"  src="user-img/up-pic.png" >

										<p><i class="fa fa-trash"></i></p>

									</div>

								</div>

								<div class="Ut_pbd">

									<img class="Ut_ctu" src="user-img/icon1_dt.png" >

									<p></p>

									<input type="file" name="" id="" value="" />

									<img class="Ut_up-icon" src="user-img/up-icon.svg" >

								</div>

							</div>

							<div class="User_apply">

								<a href="#">Previous</a>

								<button>Next step</button>

							</div>

						</form>

					</div>

			

				</div>

				

			</div>

			

		</div>

		<footer class="User_ft">

			<a href="#">Home</a> | <span>© Copyright 2019 ca.university All Rights Reserved</span>

		</footer>

		<script>

			$(function () {

				$('.Ut_pic_box').viewer({

					url: 'data-original',

				});

			});

			layui.use(['form', 'layedit', 'laydate'], function(){

				

			})

		</script>

	</body>



</html>