
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Learn about recognition of your academic credentials
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li >
	  				<a href="academic1_study_abroad.html"> 
	  					<span>
	  						Get information on applying to study abroad
	  					</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="academic2_to_study.html"> 
	  					<span>Get information on returning to Canada to study</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="academic3_to_work.html"> 
	  					<span>Get information on returning to Canada to work</span>
	  				</a>
	  			</li>
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-lt oth-ltt">
	  				<div class="oth-del">
	  					<p>
	  						<img style="width: 200px;" src="/canada/images/academic-pic3.jpg"/>
	  						After completing your studies abroad, you may wish to settle in Canada to work.
		  				</p>
		  				<p>
		  					Before selecting your educational institution outside Canada, you may wish to determine:
		  				</p>
		  				<ul>
		  					<li>where you intend to settle in Canada after your studies;</li>
		  					<li>whether your intended occupation is regulated in that province or territory of Canada;</li>
		  					<li>who will be responsible for the recognition of your international academic credentials in Canada.</li>
		  				</ul>
		  				<p>
		  					If your intended occupation is regulated, contact the regulatory body for your occupation in Canada. It may provide information on:
		  				</p>
		  				<ul>
		  					<li>requirements necessary to practise;</li>
		  					<li>the registration process for internationally trained individuals;</li>
		  					<li>the recognition of similar credentials in the past;</li>
		  					<li>academic mobility and whether there are existing agreements with institutions in your destination country.</li>
		  				</ul>
		  				<p>If your intended occupation is non-regulated, contact:</p>
		  				<ul>
		  					<li>the professional association related to your qualifications;</li>
		  					<li>potential employers.</li>
		  				</ul>
		  				<p>They may provide information on:</p>
		  				<ul>
		  					<li>standard or typical employment requirements, such as holding particular credentials;</li>
		  					<li>recognition of similar credentials in the past.</li>
		  				</ul>
	  				</div>
	  			</div>
	  			<div class="oth-rt">
	  				<div class="oth-tbox">
	  					<h3>
		  					WHAT IS AN “INTERNATIONAL” ACADEMIC CREDENTIAL?
		  				</h3>
		  				<p>
							“International” or “foreign” a