	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Postsecondary education systems in Canada
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit">
	  			<li >
	  				<a href="edu1_an_overview.html"> 
	  					<span>An overview</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="edu2_postsecondary_institutions.html"> 
	  					<span>Postsecondary institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu3_granting_institutions.html"> 
	  					<span>Degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu4_Non_granting_institutions.html"> 
	  					<span>Non-degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu5_issues_trends.html"> 
	  					<span>Issues and trends</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu6_postsecondary_institutions.html"> 
	  					<span>Appendix A: The status of postsecondary institutions in Canada</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu7_additional_information.html"> 
	  					<span>Appendix B: Sources for additional information</span>
	  				</a>
	  			</li>
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-com">
	  				<div class="oth-del">
	  					<p>
	  						Reports to Canada education data (CAED) indicate that there are more than 200 public and private institutions in Canada that grant degrees. Degree-granting institutions vary from province to province and may include universities, university colleges, colleges, institutes of technology, and specialized institutes. Some universities have federation or affiliation agreements with specific colleges or with other universities.
		  				</p>
		  				<p>
		  					More than half of the universities in Canada are located in the two most heavily populated provinces, Ontario and Quebec. The provinces of Newfoundland and Labrador and Prince Edward Island have one university each. Public colleges in the three territories deliver some degree programs under articulation agreements with universities. Outside Quebec, many provinces have at least one French-language institution that provides degree programs; in Quebec, there are a number of English-language universities.
		  				</p>
		  				<p>
		  					Institutions range in size from small liberal-arts campuses to large, comprehensive universities with a wide range of undergraduate, graduate, and professional degree programs. There are more than 10,000 undergraduate and graduate degree programs offered by universities in Canada.
		  				</p>
		  				<p>
		  					In a few provinces, dedicated universities, institutes, and colleges offer programs and services to First Nations and Métis populations. These degree, diploma, and certificate programs are often delivered in cooperation with other postsecondary institutions. Many Aboriginal students also attend non-Aboriginal institutions.
		  				</p>
		  				<h3 class="oth-color">Teaching and Research</h3>
		  				<p>
		  					Degree-granting institutions in Canada focus on teaching and research. With few exceptions, a doctoral degree is required of university faculty members for entry into tenure-stream positions. In 2005, universities employed close to 40,000 full-time faculty members.
		  				</p>
		  				<p>
		  					Universities conduct about one-third of all research activity in Canada. The federal government is a principal supporter of this research and promotes excellence in research through various initiatives. One such initiative is the
		  					<a href="http://www.innovation.ca">Canada Foundation for Innovation</a> 
		  					, which was established in 1997 to provide research infrastructure funds to Canadian institutions on a cost-shared basis with provinces and other partners. Its budget is $3.15 billion over ten years.
		  				</p>
		  				<p>
		  					The federal government also funds three major research-granting councils: 
		  					<a href="http://www.nserc-crsng.gc.ca/">he Natural Sciences and Engineering Research Council</a>t, the
		  					<a href="http://www.cihr-irsc.gc.ca/">Canadian Institutes of Health Research</a> , and the 
		  					<a href="http://www.sshrc-crsh.gc.ca/">Social Sciences and Humanities Research Council</a>. 
		  					In 2007–08, the budgets of the three councils totalled over $2.1 billion. Sponsored research projects conducted under contract for various federal government departments receive additional federal funding. To leverage Canada's research capabilities in a number of areas of strategic importance, the federal government maintains the
		  					<a href="http://www.nce-rce.gc.ca/">Networks of Centres of Excellence</a> , funded by the above-mentioned councils, to link researchers from universities, industry, and governments across the country.
		  				</p>
		  				<p>
		  					Provincial governments may also support university research through direct funding. A number of universities have developed research parks to enhance research collaboration with industry. Spin-off companies have been set up by a number of institutions to commercialize and market university technology.
		  				</p>
		  				<h3 class="oth-color">
		  					Administration and Governance
		  				</h3>
		  				<p>
		  					Universities are highly autonomous; they set their own admission standards and degree requirements, and have considerable flexibility in the management of their financial affairs and program offerings. Government intervention is generally limited to finances, fee structures, and the introduction of new programs. Intermediary bodies, such as 
		  					the <a href="http://www.mphec.ca/">Maritime Provinces Higher Education Commission</a>  for the provinces of New Brunswick, Nova Scotia, and Prince Edward Island, play an advisory role.
		  				</p>
		  				<p>
		  					Most universities have a two-tiered system of governance that includes a board of governors and a senate. Boards are generally charged with overall financial and policy concerns. Academic senates are responsible for programs, courses, admission requirements, degree qualifications, and academic planning. Senate decisions are subject to board approval. Students, alumni, faculty, and representatives from the community serve as board members.
		  				</p>
		  				<p>
		  					Universities are normally organized into faculties, schools, and departments. Subject to senate approval, these subdivisions may also establish their own admission and degree requirements.
		  				</p>
		  				<h3 class="oth-color">
		  					Programs
		  				</h3>
		  				<p>
		  					University degrees are offered at three successive levels — bachelor's, master's, and doctoral — with the completion of a degree from the lower level generally a prerequisite for admission to the next.
		  				</p>
		  				<p>
		  					Students at the baccalaureate, or bachelor's, level are known as undergraduates. Completion of a secondary-school program, or the two-year CÉGEP program in the case of Quebec, is the normal prerequisite for admission to undergraduate study. Most universities also have special entrance requirements and paths for mature students.
		  				</p>
		  				<p>
		  					Bachelor's degrees normally require three or four years of full-time study, depending on the province. An honours bachelor's degree involves a higher degree of concentration in the major subject, as well as a higher level of academic achievement, and, in some cases, an additional year of study.
		  				</p>
		  				<p>
		  					For regulated professions such as law, medicine, education, and social work, an internship is generally required and, in some cases, additional years of formal study.
		  				</p>
		  				<p>
		  					A master's degree typically requires two years of study after completion of either a general or an honours baccalaureate program.
		  				</p>
		  				<p>
		  					A minimum of three years of study and research, including the completion of a dissertation, are the normal requirements for a doctorate. The degree is generally known as a PhD; however, doctoral degrees may also be granted in particular fields of study such as music (DMus) or law (LLD).
		  				</p>
		  				<p>
		  					University colleges undertake degree programs as their primary activity and provide bachelor's degrees. A few also provide master's degrees with an applied focus.
		  				</p>
		  				<p>
		  					Some public and private universities and university colleges have religious denominational affiliations, and offer divinity programs and degrees for the specific purpose of preparing students for the profession of minister of faith. These institutions may also offer other degree programs.
		  				</p>
		  				<p>
		  					Colleges and technical institutes undertake diploma and certificate programs as their primary activity, and may also offer bachelor's and applied degrees in areas of particular specialization.
		  				</p>
		  				<p>
		  					Many universities and university colleges also offer diploma and certificate programs, often in professional designations. Generally speaking, university diplomas and certificates require one or two years of study. However, these programs vary widely from institution to institution and from province to province.
		  				</p>
		  				<p>
		  					Universities offer students more than courses and programs; they also provide services and resources. Counselling, study-skills workshops, career-placement centres, scholarships and bursaries, athletics, housing, and additional services are available on most campuses. Many universities also have special services for students with specific needs, including those with physical, sensory, or learning disabilities.
		  				</p>
		  				<p>
		  					While most degree programs are delivered on campus to full-time students, many institutions offer part-time study through day and evening courses or distributed-learning programs. Many programs include cooperative education or work-study components, which alternate academic studies with full-time, off campus employment related to the student's field of study.
		  				</p>
		  				<p>
		  					Canada is a world leader in distributed learning as a way to increase access to postsecondary education. These programs reach diverse populations of students whose schedules or personal circumstances make it difficult for them to study on campus, whether they live in distant communities or urban centres. Technologies used include the Internet, video, audiotape, television, satellite, correspondence, video- and teleconferencing, fax, and e-mail, as well as print materials and telephone tutors. Blended learning, which combines distributed and campus-based programs, is increasingly available.
		  				</p>
		  				<p>
		  					All jurisdictions have distributed learning, with several offering consortia of postsecondary institutions using technology-based learning. Alberta, British Columbia, and Quebec have developed open universities in addition to the distance-education programs offered by conventional universities. These open universities have liberal admissions policies and the vast majority of their students are over the age of 24 and study part-time.
		  				</p>
		  				<p>
		  					The academic year at most degree-granting institutions is divided into two semesters, from September to December and from January to April. Most institutions also offer spring and summer sessions, and a few operate on a trimester basis.
		  				</p>
		  				<h3 class="oth-color">Admission Requirements</h3>
		  				<p>
		  					Admission criteria for undergraduate and graduate study vary from institution to institution and from program to program. Graduation from a university-preparatory program at secondary school or a two-year CÉGEP program is typically the minimum requirement for admission to degree programs. However, requirements may be more rigorous, and may include specific course-content requirements or high grade-point averages. Some faculties require the passing of standardized aptitude tests for admission. Admission requirements for mature students, who are generally 21 years of age or older or who have been out of school for at least a year, are often more flexible.
		  				</p>
		  				<h3 class="oth-color">
		  					Tuition Fees
		  				</h3>
		  				<p>
		  					Tuition fees vary widely according to province, institution, and program of study. In 2007–08, tuition fees at universities for an undergraduate program averaged $4,524. Graduate and professional programs, such as business and medicine, may have much higher tuition. At most institutions, tuition fees for international students are considerably higher than for domestic students.
		  				</p>
	  				</div>
	  			
	  			</div>
	  		</div>
	  </div>
	  {include file="public/middle" /}


