
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Postsecondary education systems in Canada
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit">
	  			<li >
	  				<a href="edu1_an_overview.html"> 
	  					<span>An overview</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu2_postsecondary_institutions.html"> 
	  					<span>Postsecondary institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu3_granting_institutions.html"> 
	  					<span>Degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="edu4_Non_granting_institutions.html"> 
	  					<span>Non-degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu5_issues_trends.html"> 
	  					<span>Issues and trends</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu6_postsecondary_institutions.html"> 
	  					<span>Appendix A: The status of postsecondary institutions in Canada</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu7_additional_information.html"> 
	  					<span>Appendix B: Sources for additional information</span>
	  				</a>
	  			</li>
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-com">
	  				<div class="oth-del">
	  					<p>
	  						There are thousands of non-degree-granting postsecondary institutions in Canada. Of these, over 150 are recognized public colleges and institutes. Many others are registered or licensed. Many more are not regulated in any way.
		  				</p>
		  				<p>
		  					Non-degree-granting institutions focus on diploma and certificate programs and may also provide degree or joint diploma/degree courses.
		  				</p>
		  				<p>
		  					Depending on the province or territory, public non-degree-granting institutions are called colleges, regional colleges, centres, colleges of applied arts and technology, community colleges, institutes, or CÉGEPs. They offer educational programming in a wide range of settings, from large urban centres to remote and isolated communities. Colleges are found in over 900 communities in Canada. Facilities vary from large, well-equipped institutions to small training centres. Almost all jurisdictions offer college programs in both French and English, whether through dedicated colleges, specialized institutes, or extensive distance-education opportunities.
		  				</p>
		  				<p>
		  					Private non-degree-granting institutions may be called colleges, career training institutes, vocational schools, or academies, depending on whether the province or territory in which they are located has legislated title