
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		The Lisbon Recognition Convention
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li >
	  				<a href="Lisbon1_recognition_convention.html"> 
	  					<span>
	  						An overview of the Lisbon Recognition Convention
	  					</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="Lisbon2_essence.html"> 
	  					<span>The essence of the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="Lisbon3_subsidiary_texts.html"> 
	  					<span>Subsidiary texts of the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="Lisbon4_ENIC.html"> 
	  					<span>European Network of Information Centres (ENIC)</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="lisbon5_FAQs.html"> 
	  					<span>Canada and the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-lt oth-ltt">
	  				<div class="oth-del">
	  					<p>
	  						<img src="/canada/images/Lisbon-pic1.jpg"/>
	  						As agreed to by all provinces and territories, Canada ratified the <a href="https://www.coe.int/en/web/conventions/full-list/-/conventions/treaty/165">Convention on the Recognition of Qualifications concerning Higher Education in the European Region 1997</a> — commonly known as the Lisbon Recognition Convention (LRC), on June 13, 2018. The LRC is an international agreement between 55 signatory states and was jointly drafted by:
		  				</p>
		  				<ul>
		  					<li>The Council of Europe;</li>
		  					<li>UNESCO;</li>
		  					<li>Members States of UNESCO's European and North America region.</li>
		  				</ul>
		  				<p>
		  					With the ratification process of the LRC, Canada's provincial and territorial governments demonstrate their commitment to furthering international collaboration on a wide range of issues related to the enhancement of academic and professional mobility and promoting best practices in the assessment and recognition of academic credentials.
		  				</p>
		  				<p>
		  					The LRC became legally binding under international law on August 1, 2018. In parallel, Canada continues to participate in consultations on the continued development of the Global Convention on the Recognition of Higher Education Qualifications with UNESCO Member States.
		  				</p>
		  				<p>
		  					The purpose of the LRC is to facilitate the mobility of individuals through the recognition of academic credentials issued in and outside Canada, and to improve access by other countr