
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		The Lisbon Recognition Convention
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li >
	  				<a href="Lisbon1_recognition_convention.html"> 
	  					<span>
	  						An overview of the Lisbon Recognition Convention
	  					</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="Lisbon2_essence.html"> 
	  					<span>The essence of the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="Lisbon3_subsidiary_texts.html"> 
	  					<span>Subsidiary texts of the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="Lisbon4_ENIC.html"> 
	  					<span>European Network of Information Centres (ENIC)</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="lisbon5_FAQs.html"> 
	  					<span>Canada and the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-lt oth-ltt">
	  				<div class="oth-del">
	  					<p>
	  						<img src="/canada/images/Lisbon-pic3.jpg"/>
	  						Since 1999, the Lisbon Recognition Convention Committee has adopted a series of subsidiary texts to support the implementation of the convention.
		  				</p>
		  				<p>
		  					These include:
		  				</p>
		  				<ol>
		  					<li>1. <a href="http://www.enic-naric.net/fileusers/1251_Recommendation_on_Recognition_of_Qualifications_Held_by_Refugees_Displaced_Persons_and_Persons_in_a_Refugee_like_Situation.pdf">Recommendation on Recognition of Qualifications Held by Refugees, Displaced Persons and Persons in a Refugee-like Situation</a></li>
		  					<li>2. <a href="http://www.enic-naric.net/fileusers/7355_Revised_Recommendation_on_the_Recognition_of_Joint_Degrees_2016.pdf">Revised Recommendation on the Recognition of Joint Degrees;</a></li>
		  					<li>3.Recommendation on the Use of Qualifications Frameworks in the Recognition of Foreign Qualifications;</li>
		  					<li>4. <a href="http://www.enic-naric.net/fileusers/FINAL_REVISED_Recomm__for_Rec_Foreign_Qualif_29%2006%2010_(PUBLISHED).pdf">Revised Recommendation on Criteria and Procedures for the Assessment of Foreign Qualifications and Explanatory Memorandum;</a></li>
		  					<li>5. <a href="http://www.enic-naric.net/fileusers/REVISED_CODE_OF_GOOD_PRACTICE_TNE.pdf">Revised Code of Good Practice in the Provision of Transnational Education;</a></li>
		  					<li>6. <a href="http://www.enic-naric.net/fileusers/THE_DIPLOMA_SUPPLEMENT.pdf">Diploma Supplement;</a></li>
		  					<li>7. <a href="http://www.enic-naric.net/fileusers/Ch