
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Learn about qualifications recognition
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li class="others-tabactive">
	  				<a href="QR1_qualifications_recognition.html"> 
	  					<span>
	  						Identify the organization responsible for recognition
	  					</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR2_occupation_regulated.html"> 
	  					<span>Find out if your occupation is regulated or not</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR3_documents_recognized.html"> 
	  					<span>Identify the documents to be recognized</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR4_assessment_process.html"> 
	  					<span>Get information on the assessment process</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR5_agreements_(MRAs).html"> 
	  					<span>Get information on mutual recognition agreements (MRAs)</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR6_financial_assistance.html"> 
	  					<span>Get financial assistance to complete the assessment process</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR7_alternatives.html"> 
	  					<span>Alternatives</span>
	  				</a>
	  			</li>
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-lt oth-ltt">
	  				<div class="oth-del">
	  					<p>
	  						Need an academic credential assessment 
	  						for general purposes? Contact a member of the Alliance 
	  						of <a href="#">Credential Evaluations Services of Canada.</a>
		  				</p>
		  				<p>
		  					To have your academic credentials and professional qualifications 
		  					recognized in order to work in Canada, <b>the first step is to find out 
		  					which organization is responsible for assessing and recognizing,</b> 
		  					but also what documents are required. This depends on whether or
		  					 not your occupation is regulated.
		  				</p>
		  				<p>
		  					In Canada, about 20% of jobs are regulated to protect the health and safety of Canadians, such as doctors, engineers, plumbers, and teachers.
		  				</p>
		  				<ul>
		  					<li>
		  						In <b>regulated occupations</b>, the recognition will be determined by the appropriate <b>provincial or territorial regulatory authority</b>.
		  					</li>
		  					<li>
		  						In <b>non-regulated occupations</b> (80% of jobs), recognition is normally <b>at the discretion of the employer.</b>
		  					</li>
		  				</ul>
		  				<p>
		  					To find out whether or not your occupation is regulated, or if you would like more information 