
	  <div class="up-hd">
	  	<h3>Comparative Education Service (CES)</h3>
	  	<p>Academic Credential Assessment</p>
	  </div>
	  <div class="up-main">
	  	<div class="up-tit">
	  		Have your academic credentials assessed by Canada's #1 University
	  	</div>
	  	<div class="up-del">
	  		<div class="uplist uplistB">
	  			<p class="up-mun">1</p>
	  			<div class="up-ban">
	  					<img src="/canada/images/icon-pic1.svg"/>
	  					<p>Identification Photo</p>
	  			</div>
	  			<div class="up-zhu">
	  				<span>
	  					<img src="/canada/images/adv-pic1.jpg"/>
	  				</span>
	  				
	  			</div>
	  		</div>
	  		<div class="uplist uplistC">
	  			<p class="up-mun">2</p>
	  			<div class="up-ban">
  					<img src="/canada/images/icon-pic2.svg"/>
  					<p>Diploma</p>
	  			</div>
	  			<div class="up-zhu">
	  				<span>
	  					<img src="/canada/images/adv-pic1.jpg"/>
	  				</span>
	  			</div>
	  		</div>
	  		<div class="uplist uplistD">
	  			<p class="up-mun">3</p>
	  			<div class="up-ban">
	  					<img src="/canada/images/icon-pic3.svg"/>
	  					<p>Transcript</p>
	  			</div>
	  			<div class="up-zhu">
	  				<span>
	  					<img src="/canada/images/adv-pic1.jpg"/>
	  				</span>
	  				<span>
	  					<img src="/canada/images/adv-pic2.jpg"/>
	  				</span>
	  			</div>
	  		</div>
	  		<div class="uplist uplistG">
	  			<p class="up-mun">4</p>
	  			<div class="up-ban">
	  					<img src="/canada/images/ces-request-docs.svg"/>
	  					<p>ddd</p>
	  			</div>
	  			<div class="up-zhu">
	  				<h3>academic credentials assessed by</h3>
	  				<p>Comparative Education Service (CES)</p>
	  			</div>
	  		</div>
	  		<div class="uplist uplistE">
	  			<p class="up-mun">3</p>
	  			<div class="up-ban">
  					<img src="/canada/images/ces-scanner.svg"/>
  					<p>ddd</p>
	  			</div>
	  			<div class="up-zhu">
	  				<h3>academic credentials assessed by</h3>
	  				<p>Comparative Education Service (CES)</p>
	  			</div>
	  		</div>
	  		<div class="uplist uplistF">
	  			<p class="up-mun">3</p>
	  			<div class="up-ban">
  					<img src="/canada/images/ces-eca.svg"/>
  					<p>ddd</p>
	  			</div>
	  			<div class="up-zhu">
	  				<h3>academic credentials assessed by</h3>
	  				<p>Comparative Education Service (CES)</p>
	  			</div>
	  		</div>
	  		<div class="uplist uplistH">
	  			<div class="up-ban">
  					<p>tive Education Serv</p>
	  			</div>
	  			<div class="up-zhu">
	  				<p>Comparative Education Service (CES)Comparative Education Service (CES)Comparative Education Service (CES)Comparative Education Service (CES)</p>
	  			</div>
	  		</div>
	  	</div>
	  </div>

