	<div class="inform">
	<div class="main-with">
		<span class="infor-deail">
			Learn about recognition of your academic credentials
		</span>
	</div>
	</div>
	<div class="news-main">
			<ul class="others-tabtit oth-tabseven">
			<li >
				<a href="academic1_study_abroad.html"> 
					<span>
						Get information on applying to study abroad
					</span>
				</a>
			</li>
			<li class="others-tabactive">
				<a href="academic2_to_study.html"> 
					<span>Get information on returning to Canada to study</span>
				</a>
			</li>
			<li >
				<a href="academic3_to_work.html"> 
					<span>Get information on returning to Canada to work</span>
				</a>
			</li>
		</ul>
	</div>	
	<div class="news-main">
	<div class="others-ct">
			<div class="oth-lt oth-ltt">
				<div class="oth-del">
					<p>
						<img style="width: 200px;" src="/canada/images/academic-pic2.jpg"/>
						After completing your studies abroad, you may wish to settle in Canada to complete further studies at a postsecondary institution in Canada.
					</p>
					<p>
						Before selecting your educational institution outside Canada, you may wish to contact the admissions office or registrar at the institution in Canada in which you intend to study in the future. In Canada, each postsecondary institution has sole authority to determine the recognition of academic credentials for the purpose of admission to that institution.
					</p>
					<p>
						They may be able to provide information on:
					</p>
					<ul>
						<li>the recognition of similar credentials in the past;</li>
						<li>possible transfer credits;</li>
						<li>academic mobility and whether there are existing agreements with institutions in your destination country.</li>
					</ul>
					<p>
						Search the Directory of Educational Institutions in Canada to find contact information for the admission office or registrar at the institution in Canada in which you intend to study after completing your studies abroad.
					</p>
				</div>
			</div>
			<div class="oth-rt">
				<div class="oth-tbox">
					<h3>
						WHAT IS AN “INTERNATIONAL” ACADEMIC CREDENTIAL?
					</h3>
					<p>
						“International” or “foreign” academic credentials are those issued by an educational institution outside Canada.
					</p>
					<p>
						Given the diversity of education systems around the world, international academic credentials are usually subject to an assessment process to verify the authenticity of your documents and the comparability to similar credentials issued in Canada's provinces and territories, as part of the admission process.
					</p>
					<p><b>
						It is extremely difficult to obtain a guarantee that your international academic credentials will be accepted upon your return to Canada.
					</b></p>
					<p>
						This underscores the importance of making an informed decision when selecting an educational institution outside Canada.
					</p>
					<p>
						For more information, consult CAED's resources on the mobility of qualified individuals and <a href="QR1_qualifications_recognition.html">academic credential recognition</a> .
					</p>
				</div>
	</div>
	</div>
	{include file="public/middle" /}
