
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Learn about recognition of your academic credentials
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li class="others-tabactive">
	  				<a href="/zt/academic1_study_abroad.html"> 
	  					<span>
	  						Get information on applying to study abroad
	  					</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="/zt/academic2_to_study.html"> 
	  					<span>Get information on returning to Canada to study</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="/zt/academic3_to_work.html"> 
	  					<span>Get information on returning to Canada to work</span>
	  				</a>
	  			</li>
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-lt oth-ltt">
	  				<div class="oth-del">
	  					<p>
	  						<img src="/canada/images/academic-pic.jpg"/>
	  						Your academic record is an important factor in a competitive admission process. You will be asked to provide proof of your academic credentials, which might include:
		  				</p>
		  				<ul>
		  					<li>diploma(s) or degree certificate(s)</li>
		  					<li>transcript(s)/mark sheets/index</li>
		  					<li>detailed course outline(s)</li>
		  				</ul>
		  				<p>If the documents are not in the destination country's official language, an official/certified translation might be required.</p>
		  				<p>
		  					As part of the admission process, the postsecondary institution or a designated organization will assess your previously completed academic credentials. Through this process, they:
		  				</p>
		  				<ul>
		  					<li>verify the authenticity of your documents;</li>
		  					<li>compare those with similar credentials issued within their own education system;</li>
		  					<li>award transfer credits (if applicable).</li>
		  				</ul>
		  				<p>It is strongly recommended that you gather all supporting documents while you are still in Canada to facilitate the process.</p>
		  				<p>
		  					Visit the Web site of your chosen institution for information on how to apply. There, you will find detailed information on its admission requirements, including the academic documents you will have to submit, translation requirements, deadlines, fees, and other relevant information.
		  				</p>
		  				<p>
		  					You can also contact the national information centre.
		  				</p>
	  				</div>
	  			</div>
	  			<div class="oth-rt">
	  				<div class="oth-tbox">
	  					<h3>
		  					WHAT IS THE ROLE OF A COMPETENT AUTHORITY?
		  				</h3>
		  				<p>
							Its role usually consists of:
		  				</p>
		  				<ul>
		  					<li>registering the educational institution and its academic programs according to dom