
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Other international agreements
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li >
	  				<a href="agreements1_Recognition.html"> 
	  					<span>
	  						UNESCO Regional Conventions on the Recognition of Qualifications
	  					</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="agreements2_higher_education.html"> 
	  					<span>UNESCO global convention on the recognition of higher-education qualifications</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="agreements3_related_international.html"> 
	  					<span>Other education-related international agreements</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="agreements4_other_professionl.html"> 
	  					<span>Other profession-related international agreements</span>
	  				</a>
	  			</li>	
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-lt oth-ltt">
	  				<div class="oth-del">
	  					<p>
	  						<img src="/canada/images/agree-1.jpg"/>
	  						Since 2012, UNESCO, in collaboration with its Member States, has undertaken a project to draft a new Global Convention on the Recognition of Higher Education Qualifications.
		  				</p>
		  				<p>
		  					This Global Convention would encompass all countries and support:
		  				</p>
		  				<ul>
		  					<li>he implementation of Sustainable Development Goal (SDG) 4, especially as it concerns the quality enhancement of higher education</li>
		  					<li>growth in student mobility</li>
		  					<li>the recognition of academic credentials as a global right</li>
		  					<li>international consistency in recognition procedures and
increased international cooperation</li>
		  				</ul>
		  				<h3>
		  					Consultation process
		  				</h3>
		  				<p>
		  					UNESCO has undertaken extensive consultations with Member States since 2013 to gather comments and suggested amendments to the draft version of the Global Convention. Throughout this process, provincial and territorial governments provided comments to inform Canada's position.
		  				</p>
		  				<ul>
		  					<li>in June 2017, the consultation focused on the initial draft text.</li>
		  					<li>in November 2017, a second version of the draft text was discussed at the 39th Session of the UNESCO General Conference. For more information, consult CMEC's Report of the Canadian Delegation.</li>
		  					<li>in March 2018, UNESCO consulted with Member States on the text of the third draft of the proposed Global Convention. </li>
		  					<li>Canada's position was then transmitted to UNESCO thr