
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Apply to study in Canada
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li >
	  				<a href="APPLY1_admission_requirements.html"> 
	  					<span>
	  						Get information on admission requirements
	  					</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="APPLY2_admission_purposes.html"> 
	  					<span>Get information on academic credential assessment and recognition for admission purposes</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="APPLY3_for_admission.html"> 
	  					<span>Apply for admission</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="APPLY4_admission_offer.html"> 
	  					<span>Accept an admission offer</span>
	  				</a>
	  			</li>
	  			
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-lt oth-ltt">
	  				<div class="oth-del">
	  					<p>
	  						<img src="/canada/images/APPLY-PIC-2.jpg"/>
	  						Your academic record is an important factor in a competitive admission process. You will be asked to provide proof of your academic credentials, which might include:
		  				</p>
		  				<ul>
		  					<li>diploma(s) or degree certificate(s)</li>
		  					<li>transcript(s)/mark sheets/index</li>
		  					<li>detailed course outline(s)</li>
		  				</ul>
		  				<p>
		  					If the documents are not in English or French, an official/certified translation might be required.
		  				</p>
		  				<p>
		  					As part of the admission process, the institution will assess your previously completed academic credentials. Through this process, they:
		  				</p>
		  				<ul>
		  					<li>verify the authenticity of your documents;</li>
		  					<li>compare those with similar credentials issued in the provinces and territories of Canada;</li>
		  					<li>award transfer credits (if applicable).</li>
		  				</ul>
		  				<p>
		  					Each institution has sole authority to determine the recognition of academic credentials for the purpose of admission to that institution.
		  				</p>
		  				<p>
		  					It is strongly recommended that you gather all supporting documents while you are still in your country of origin to facilitate the process.
		  				</p>
		  				<p>
		  					Visit the Web site of your chosen institution for more information on its specific requirements.
		  				</p>
	  				</div>
	  			</div>
	  			<div class="oth-rt">
	  				<div class="oth-tbox">
	  					<h3>
		  					GET INFORMATION ON ACADEMIC CREDENTIAL ASSESSMENT SERVICES
		  				</h3>
		  				<p>
Some organizations in Canada responsible f