
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Postsecondary education systems in Canada
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit">
	  			<li >
	  				<a href="edu1_an_overview.html"> 
	  					<span>An overview</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu2_postsecondary_institutions.html"> 
	  					<span>Postsecondary institutions</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="edu3_granting_institutions.html"> 
	  					<span>Degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu4_Non_granting_institutions.html"> 
	  					<span>Non-degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu5_issues_trends.html"> 
	  					<span>Issues and trends</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu6_postsecondary_institutions.html"> 
	  					<span>Appendix A: The status of postsecondary institutions in Canada</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu7_additional_information.html"> 
	  					<span>Appendix B: Sources for additional information</span>
	  				</a>
	  			</li>
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-com">
	  				<div class="oth-del">
	  					<p>
	  						In the following sections, Canada's postsecondary institutions are described on the basis of their degree-granting capacities; this is how they have been presented historically. Although the changing roles of institutions are making this kind of distinction less clear, universities continue to grant more degrees, while colleges of all types continue to grant more diplomas, certificates, and attestations. In an increasing number of cases, the same institution is both degree-granting and non-degree-granting. For the purposes of this overview document, the information under degree-granting institutions applies largely to universities and university colleges, while colleges and other institutions are discussed more fully under non-degree-granting institutions.
		  				</p>
		  				<h3 class="oth-color">Governance and Finance</h3>
		  				<p>
		  					The Constitution Act, 1867, gave provinces exclusive jurisdiction over education within their boundaries. The provincial and territorial legislatures have developed their own educational structures and institutions, creating 13 education systems with many similarities and some differences. Responsibility for education is usually exercised through one or more 
		  					<a href="#">departments or ministries responsible for education</a>. 
		  					At the pan-Canadian level, the 
		  