
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Postsecondary education systems in Canada
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit">
	  			<li >
	  				<a href="edu1_an_overview.html"> 
	  					<span>An overview</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu2_postsecondary_institutions.html"> 
	  					<span>Postsecondary institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu3_granting_institutions.html"> 
	  					<span>Degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="edu4_Non_granting_institutions.html"> 
	  					<span>Non-degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu5_issues_trends.html"> 
	  					<span>Issues and trends</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu6_postsecondary_institutions.html"> 
	  					<span>Appendix A: The status of postsecondary institutions in Canada</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu7_additional_information.html"> 
	  					<span>Appendix B: Sources for additional information</span>
	  				</a>
	  			</li>
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-com">
	  				<div class="oth-del">
	  					<p>
	  						There