
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Postsecondary education systems in Canada
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit">
	  			<li >
	  				<a href="edu1_an_overview.html"> 
	  					<span>An overview</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu2_postsecondary_institutions.html"> 
	  					<span>Postsecondary institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu3_granting_institutions.html"> 
	  					<span>Degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu4_Non_granting_institutions.html"> 
	  					<span>Non-degree-granting institutions</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="edu5_issues_trends.html"> 
	  					<span>Issues and trends</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu6_postsecondary_institutions.html"> 
	  					<span>Appendix A: The status of postsecondary institutions in Canada</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="edu7_additional_information.html"> 
	  					<span>Appendix B: Sources for additional information</span>
	  				</a>
	  			</li>
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-com">
	  				<div class="oth-del">
	  					<p>
	  						Postsecondary education in Canada exists in a constantly changing environment, which encompasses globalization, increased population mobility, technology advancements, changing demographics, and the steadily evolving labour market. Three interconnected issues arise from these trends — postsecondary capacity, quality assurance, and internationalization and mobility.
		  				</p>
		  				<h3 class="oth-color">Postsecondary Capacity</h3>
		  				<p>
		  					The Council of Ministers of Education, Canada, has characterized postsecondary capacity as the enhancement and stabilization of the long-term capacity of postsecondary systems to meet the training and learning needs of all Canadians seeking higher-education learning opportunities. The primary need is for stable and long-term government funding. Population shifts mean that the traditional age cohort for university entrance is shrinking, while the demand for a highly skilled workforce grows. Consequently, postsecondary institutions need to attract and train more people, including older adults and members of groups who have not traditionally participated in university and college education. Other aspects of postsecondary capacity that are of particular concern include the replacement of large numbers of faculty who will be retiring in the next decade; infrastructure costs in a