
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		The Lisbon Recognition Convention
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li >
	  				<a href="Lisbon1_recognition_convention.html"> 
	  					<span>
	  						An overview of the Lisbon Recognition Convention
	  					</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="Lisbon2_essence.html"> 
	  					<span>The essence of the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="Lisbon3_subsidiary_texts.html"> 
	  					<span>Subsidiary texts of the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="Lisbon4_ENIC.html"> 
	  					<span>European Network of Information Centres (ENIC)</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="lisbon5_FAQs.html"> 
	  					<span>Canada and the Lisbon Recognition Convention</span>
	  				</a>
	  			</li>
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="others-ct">
	  			<div class="oth-com">
	  				<div class="oth-del">
	  					<h3>FAQs</h3>
	  					<p>
	  						An international convention is an agreement or treaty that is legally, politically, and diplomatically binding upon the signatory state. Countries that ratify a convention are legally bound to a