
	  <div class="inform">
	  	<div class="main-with">
	  		<span class="infor-deail">
		  		Learn about qualifications recognition
		  	</span>
	  	</div>
	  </div>
	  <div class="news-main">
	 		 <ul class="others-tabtit oth-tabseven">
	  			<li >
	  				<a href="QR1_qualifications_recognition.html"> 
	  					<span>
	  						Identify the organization responsible for recognition
	  					</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR2_occupation_regulated.html"> 
	  					<span>Find out if your occupation is regulated or not</span>
	  				</a>
	  			</li>
	  			<li class="others-tabactive">
	  				<a href="QR3_documents_recognized.html"> 
	  					<span>Identify the documents to be recognized</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR4_assessment_process.html"> 
	  					<span>Get information on the assessment process</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR5_agreements_(MRAs).html"> 
	  					<span>Get information on mutual recognition agreements (MRAs)</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR6_financial_assistance.html"> 
	  					<span>Get financial assistance to complete the assessment process</span>
	  				</a>
	  			</li>
	  			<li >
	  				<a href="QR7_alternatives.html"> 
	  					<span>Alternatives</span>
	  				</a>
	  			</li>
	  			
	  		</ul>
	  	</div>	
	  <div class="news-main">
	  	<div class="